[2016-10-31 10:09] saambd opened #1 "403. That’s an error. show on video"
Dear Ardi,

when i play this video show me 403 error. how to fixed it?

[2016-11-01 15:15] ArdiArtani commented on #1
Did you try a different url?

[2016-11-02 06:17] iqbalfn commented on #1
I get the same error when running it on live server. But work on localhost.

[2016-11-02 14:31] saambd commented on #1
Yes same here.

On Nov 2, 2016 12:17 PM, "Iqbal Fauzi" <notifications@github.com> wrote:

[2016-11-02 14:34] saambd commented on #1
Yes I try full permission many google drive URL. Show me same error.

On Nov 2, 2016 8:30 PM, "Salim Rahman" <me@salimrahman.com> wrote:

[2016-11-02 14:55] ArdiArtani commented on #1
Download the new updated files. If its not working tell me what browser and php version you are using and please send me the url I want to try it from my server.

[2016-11-03 06:31] saambd commented on #1
No it's not working. Here is my server Full description:

[2016-11-09 20:14] jiaghara commented on #1
403 Error
same to all other
please fix it .... your script is very helpful for me
thanks for your script
keep it up

[2016-11-13 09:44] cristiantimar commented on #1
Same problem at me.

[2016-11-14 03:33] DennisFrea commented on #1
I think Google made an update. Now, the link should be generated to user ip (only per ip) and cannot be used by other ips. So other ips got an error 403. Any idea about this? I'm also still experiencing this problem. See the bold line below.

/videoplayback?requiressl=yes&id=c0f43fff92ed5833&itag=22&source=webdrive&ttl=transient&app=texmex&**ip=2a01:4f8:191:9296:e4c5:2ba3:901d:3260**&ipbits=0&expi

[2016-11-14 17:53] ArdiArtani commented on #1
I dont know what's the problem yet. It works for me you can try it over here at www.filedeo.com

[2016-11-20 17:45] matamune15 opened #2 "Have new update ?"
Hi , Have new update ? and how install it ?

[2016-11-22 15:33] izay4kun commented on #2
I'm trying to figure out how to solve that too, so far i only found a website back-end api which generates an google video in a json output the url generated is:

(the differences between ArdiArtani output and this are the ip [obvious], the CP tag that don't exists on this code and the ipbits in ArdiArtani code has 0 as value this code above 32).

[2016-11-22 17:29] matamune15 commented on #2
wow , ipv4 can play ?

[2016-11-22 17:31] matamune15 commented on #2
here :
https://r4---sn-8pxuuxa-nbor.googlevideo.com/videoplayback?requiressl=yes&id=e262a025b63fc415&itag=22&source=webdrive&ttl=transient&app=explorer&ip=171.248.107.94&ipbits=32&expire=1479836253&sparams=expire,id,ip,ipbits,itag,mm,mn,ms,mv,pl,requiressl,source,ttl&signature=06B57C2F51A14D0082182ACD01FF43EF3D357288.32F5B57B391559D835A9D146D5FD39D999FCB0CB&key=cms1&pl=20&cms_redirect=yes&mm=31&mn

[2016-12-13 04:38] setamen commented on #1
Would it help if i shared playable redirect video url ?

[2016-12-30 14:13] jqw1992 opened #3 "403. That’s an error."
403. That’s an error.

Your client does not have permission to get URL /videoplayback?requiressl=yes&id=656517bf07b54306&itag=18&source=webdrive&ttl=transient&app=texmex&ip=192.210.151.102&ipbits=0&expire=1483121507&cp=QVJNVUJfUFVOSFhNOk1jMFBKT0NkMG52&sparams=requiressl%2Cid%2Citag%2Csource%2Cttl%2Cip%2Cipbits%2Cexpire%2Ccp&signature=33CBE7BAE89C46A49B2EADD4D784AA35D74111D4.3395D82F2653C565BE3BF2E

[2017-01-19 11:02] hklcf commented on #1
http://api.getlinkdrive.com/

[2017-01-27 10:56] jack3399 opened #4 "Hello"
Hello ArdiArtani, there will be new update to extract redirector links? Thanks in advance

[2017-04-27 05:58] simplyniceweb opened #5 "update"
as the tile says, any update for 2017? it's not working anymore, 403 error thrown,

[2017-05-28 00:42] #1 closed

[2017-05-28 00:42] #2 closed

[2017-05-28 00:42] #4 closed

[2017-05-28 00:42] #5 closed

[2017-05-28 00:43] ArdiArtani commented on #5
This issue is closed please check issue #3

[2017-05-28 00:43] ArdiArtani commented on #4
This issue is closed please check issue #3

[2017-05-28 00:43] ArdiArtani commented on #2
This issue is closed please check issue #3

[2017-05-28 00:43] ArdiArtani commented on #1
This issue is closed please check issue #3

[2017-05-28 08:48] kishorkurian123 commented on #3
Been working on it, but cant seem to find a working solution yet. I tried fetching the FMT stream map, and replace the encoded part to get the url, but that still gives me a 403.

If you want to work together, I can give you a working link that one of my friend has. I am not sure how he still gets the link though.

[2017-05-28 15:02] ArdiArtani commented on #3
@kishorkurian123 Okay let me take a look at the script.

[2017-05-28 15:03] cristiantimar commented on #3
I made the solution for the redirectors: you can check my site: https://apimov.com/

[2017-05-28 15:11] ArdiArtani commented on #3
@cristiantimar Really nice script, I think I'm getting close to fix 403 error.

[2017-05-28 15:12] cristiantimar commented on #3
Thanks. Google makes things very difficult this time :(.

[2017-05-28 15:46] ArdiArtani commented on #3
@cristiantimar Can you send me your googe drive getlink script I want to take a look at it

[2017-05-29 05:06] kishorkurian123 commented on #3
Can you guys drop me your email? @ArdiArtani  @ArdiArtani

[2017-05-29 05:10] ombapit commented on #3
@cristiantimar  wow perfect, can u share the code for public?
thanks.

[2017-05-29 09:02] dunglt commented on #3
I tried to use apimov.com with my movie :( but it doesn't work
This is my link : https://apimov.com/get/0Byg7tNWXYRqkcl9TX01hcmZMTXM
403 :( . Please help me

[2017-05-29 09:04] dunglt commented on #3
May be my extensions file is .mov . Let me check with mp4 .

[2017-05-29 09:09] cristiantimar commented on #3
@ArdiArtani Sorry. I cannot share the code.
@dunglt I checked the url and the redirectors works. Decode urls before access them.

[2017-05-29 09:13] dunglt commented on #3
It doesn't work . I use this link in your tutorial in webapi  @cristiantimar
![capture](https://cloud.githubusercontent.com/assets/2187186/26543829/a9bf7fc4-4489-11e7-9f63-743b38d882a6.PNG)
![capture1](https://cloud.githubusercontent.com/assets/2187186/26543830/a9c0b916-4489-11e7-8a3e-0d01c9b9bc6a.PNG)

[2017-05-29 09:15] cristiantimar commented on #3
Use http://json.parser.online.fr/ to decode json. Apimov returns json results. So it is not decoded.

[2017-05-29 09:20] dunglt commented on #3
@cristiantimar : the result is the same , this link sample in your website doesn't work with me . I parse the result and get only the "https:\/\/redirector.googlevideo.com\/videoplayback?id=3d6e61d65f9455ef&itag=18&source=webdrive&requiressl=yes&ttl=transient&mm=30&mn=sn-5hne6nl7&ms=nxu&mv=u&pl=22&ei=lN8rWZXCMtjXqQWMgKzQAg&driveid=0Byg7tNWXYRqkcl9TX01hcmZMTXM&mime=video\/mp4&lmt=1495678485072044&m

[2017-05-29 09:22] cristiantimar commented on #3
Something wrong from your side: this redirector works: http://prntscr.com/fdbi95

[2017-05-29 09:26] nattatorn-dev commented on #3
@cristiantimar Thank for very good api. it's work for me (type .mp4)

[2017-05-29 09:27] dunglt commented on #3
@cristiantimar  : I know my error . Thanks a lots . Sorry for my stupid .

[2017-05-29 10:10] dunglt commented on #3
@ArdiArtani : I hope you can fix this 403 error soon . I believe in you .
Thanks for your sharing

[2017-05-29 10:19] nattatorn-dev commented on #3
@ArdiArtani I will try to find a solution together.

[2017-05-29 10:45] kishorkurian123 commented on #3
@cristiantimar - Atleast you could give us some pointers to guide us in the right direction. Fellow developers here :)

[2017-05-29 17:52] ArdiArtani commented on #3
My email is: ardiartani@gmail.com

[2017-05-29 22:27] kishorkurian123 commented on #3
@cristiantimar  - I can add in a $100 if that helps ha ha. Just to letting me know how to do it in the right way. :) My email is kishorkurian123@gmail.com Offer open to anyone :)

Fellow coder looking to get some help :)

[2017-05-30 21:24] asnawibato commented on #3
So how to embed it in jwplayer to stream the videos?

[2017-05-31 15:13] mangemve1511 commented on #3
@ArdiArtani Waiting you fix error 403. Just doneted some money. :) Email: hungvo.pjh@gmail.com

[2017-06-01 21:12] mkalyon commented on #3
@ArdiArtani, did my mail receive?

[2017-06-02 02:35] ArdiArtani commented on #3
@mangemve1511 Thank you. @mkalyon What's your email address ?

[2017-06-02 02:42] Sweeeeep commented on #3
@ArdiArtani did you already fix the 403 issue ? if you fix it i will donate too 👍

[2017-06-02 03:39] dunglt commented on #3
@ArdiArtani  : I will  donate too . See your code soon

[2017-06-02 05:15] ArdiArtani commented on #3
@Sweeeeep @dunglt Hey guys I'm trying but can't find a solution but I did manage to get only 1 working streaming link, you can check the demo [here](https://www.filedeo.com/views/gd/status.php) if you want me to publish the script let me know.

[2017-06-02 06:43] mkalyon commented on #3
Maybe This helps you.
http://dmdsoftware.net/

[2017-06-02 10:38] dunglt commented on #3
@ArdiArtani  : please share with me . My email : dunglt@bkindex.com .
Thank for your distribute

[2017-06-02 13:23] arlondalief commented on #3
@ArdiArtani can i get the script from https://www.filedeo.com/views/gd/status.php it's work for me.
 my email : pushplay@std.unissula.ac.id thx

[2017-06-02 14:17] Sweeeeep commented on #3
@ArdiArtani Please publish that script :) seems its working

[2017-06-02 16:28] ArdiArtani commented on #3
I'm uploading the files right now.

[2017-06-02 16:29] ArdiArtani commented on #3
@mkalyon I'm going to take a look at the code. Thanks

[2017-06-02 17:11] ArdiArtani commented on #3
The files are uploaded.

[2017-06-02 17:11] #3 closed

[2017-06-02 17:18] mangemve1511 opened #6 "Still not working"
I test with your link, it's working. When i change my link https://drive.google.com/file/d/0Bx5cIJpVlNg1eWZwUnMyQU1mZkU/view , it's still not working.

Help me, thanks very much!

[2017-06-02 17:20] ArdiArtani commented on #6
The user has disabled the download permission.

[2017-06-02 17:20] #6 closed

[2017-06-02 18:37] wteran opened #7 "Some videos have non numeric var"
Thanks for the great scrip altho there is an issue sometimes the video id starts with:

0Bz- (This is not working)

Other than that this is the best i have found, ill donate once this is resolve :)

[2017-06-02 18:55] ArdiArtani commented on #7
Can you send me the link let me take a look

[2017-06-02 19:02] wteran commented on #7
https://drive.google.com/file/d/0Bz-ASnvO1ErIcU9yWHJGbGd1TnM/view

[2017-06-02 19:10] wteran commented on #7
Funny this works jus fine, maybe is the file type?
0B-5FC9-wtiZzclppeUxlQ21pQW8

[2017-06-03 02:56] ppoot opened #8 "drive the Visits number Limit"
No cache file created, More than Visits Will not be restricted?

[2017-06-03 03:03] ArdiArtani commented on #7
@wteran Both urls are working for me

[2017-06-03 04:38] ArdiArtani commented on #8
@ppoot Added the cache function files are updated. Thank you

[2017-06-03 04:38] ArdiArtani commented on #8
@ppoot Added the cache function files are updated. Thank you

[2017-06-03 04:38] #8 closed

[2017-06-03 08:23] gnouv commented on #7
Hi @ArdiArtani ,

Your new method is really old. It is not different with embed drive via iframe. That's mean your drive will be limited due over quota. BTW, the playable link only works with .mp4 'cause It is not video/mp4 mine type links from googlevideo.com.

https://redirector.googlevideo.com/videoplayback?id=0e626cb5b75d90ea&itag=18&source=webdrive&requiressl=yes&ttl=transient&pl=33&ei=OEwyWd

[2017-06-03 08:24] asnawibato commented on #7
Yeah me too ... all file id is working... it is possible if ever i use jwplayer?

[2017-06-03 09:49] Sweeeeep commented on #7
@ArdiArtani how you manage to get that redirector link without driveid params ?

[2017-06-03 09:56] gnouv commented on #7
@Sweeeeep  let's think about it, i dont know.

[2017-06-03 09:57] Sweeeeep commented on #7
@gnouv where did you get that link ?

[2017-06-03 09:58] gnouv commented on #7
@Sweeeeep in a movie site

[2017-06-03 09:59] Sweeeeep commented on #7
@gnouv what is the link ?

[2017-06-03 10:00] gnouv commented on #7
@Sweeeeep  dramacity,se

[2017-06-03 10:05] Sweeeeep commented on #7
@gnouv wow how they manage to get that with out params driveid JUST WOW Hahaha

[2017-06-03 10:22] mkalyon commented on #7
@gnouv this site hide driveid, if you dont use drive id you cannot get stream links.

[2017-06-03 10:23] gnouv commented on #7
@mkalyon no, above link was expired,  u can try other one on his site, no driveid because he is using abnormal way to get link.

[2017-06-03 10:26] mkalyon commented on #7
@gnouv I know, this site hide driveid before get links.
They use driveid in their php codes.
Therefore we can see only redirect links.

[2017-06-03 10:28] gnouv commented on #7
@mkalyon u can use firebug or F12 to see

https://redirector.googlevideo.com/videoplayback?id=b7db8168f7ba2b92&itag=18&source=webdrive&requiressl=yes&ttl=transient&pl=33&ei=FnAyWd_vDtjZqQWHlbrABQ&mime=video%2Fmp4&lmt=1488317591472031&ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afe60%3Ac171&ipbits=0&expire=1496492118&sparams=api,ei,expire,id,ip,ipbits,itag,lmt,mime,mm,mn,ms,mv,pl,requiressl,source,ttl&signatu

[2017-06-03 19:34] ArdiArtani commented on #7
If anyone  can help me please you are more than welcome to join.

[2017-06-03 19:44] cristiantimar commented on #7
@ArdiArtani google did another update 1 day ago and now is very very hard to get the redirectors:(. Saw the solution on videoapi.io, a VN guy did it without driveid parameter..

[2017-06-03 20:00] Sweeeeep commented on #7
@cristiantimar did videoapi.io already fixed the issue ?

[2017-06-03 20:02] cristiantimar commented on #7
@Sweeeeep Yes. but not every request will show you the redirectors, if you refresh every api call if it doesn't tell your the redirectors, after many refresh it will. I think that happened because they have VPS..

[2017-06-03 20:07] Sweeeeep commented on #7
@cristiantimar ohh okay !

[2017-06-04 00:03] asnawibato commented on #7
Only mp4 format supported but some format is not working. like flv and avi.

[2017-06-04 05:24] TheTreesNetwork commented on #7
I've figured out a way with `app=explorer`. Happy to share with someone who has figured out the `app=storage` way.

[2017-06-04 14:44] ArdiArtani commented on #7
@TheTreesNetwork Do you have a demo site ?

[2017-06-04 14:57] Helpi95 opened #9 "JwPlayer returns "Cancelled Connection""
Hey bro, i want to use ur script, but every time i try to use gimme one error:
http://prntscr.com/ffrtay

And if i access directly the link, i can start the download, i tried with 8 different files, every each one them with public link, something i can do about?

[2017-06-04 15:41] dicksin2017 commented on #7
google drive quota exceeded

[2017-06-04 15:46] wteran commented on #7
@dicksin2017 yes the script uses the direct download link to stream from google server, that's why u get a quota. it would be better to use api and then send request so it stores it, so the quota won't appear but Google made some changes and is making it hard but not impossible, i guess the trick will be rely on the experts.  I'm still a novice with all this lol

[2017-06-04 20:46] mkalyon commented on #7
Hi,
Suprise :)
https://drive.google.com/file/d/0B50oVWIHzhRuLXVBb1o0cDQtVGM/view
https://youtube.googleapis.com/embed/?status=ok&hl=in&allow_embed=0&ps=docs&partnerid=30&autoplay=0&docid=0B50oVWIHzhRuLXVBb1o0cDQtVGM

[2017-06-05 00:43] ArdiArtani commented on #9
Download the new index.php file I added the jwplayer it should work

[2017-06-05 00:43] #9 closed

[2017-06-05 14:19] colicrod opened #10 "why most of my files not working.."
ma bad, looks like error if limit is already reached

[2017-06-06 02:15] RiseCoder opened #11 "Quality is out"
First of all thank you. Quality links do not appear as they are downloaded via this download link.

I have a server that supports IPV6. Would you be able to make a software that we can withdraw on a qualification basis?

[2017-06-06 12:05] Sweeeeep commented on #7
@TheTreesNetwork do you have demo ?

[2017-06-06 14:29] ppoot commented on #7
@ArdiArtani  @TheTreesNetwork
app=explorer
http://kissanime.ru/Anime/Hikyou-Tanken-Fam-Ihrlie-Dub/Episode-004?id=136680&s=default
app=explorer
https://anivn.net/phim/zero-kara-hajimeru-mahou-no-sho-tap-1-20313.html

[2017-06-06 15:40] asnawibato commented on #7
how to remove youtube branding in player control?

On Sun, Jun 4, 2017 at 11:46 PM, mkalyon <notifications@github.com> wrote:

[2017-06-06 16:46] threathgfx commented on #7
The problem is how we overcome that "403 Forbidden" error.

[2017-06-06 17:20] wteran commented on #7
@threathgfx the forbidden error appears if the api has been terminated or no api at all you can see  how it works on the google api console.
https://console.developers.google.com/apis/library

[2017-06-06 18:26] threathgfx commented on #7
@wteran so basically, if I insert an api script. This 403 thing will vanish and the video will work? Cuz I'm really confuse now since I've check this site "apimov.com/get/insertidhere" and the video links are not working
Test site: http://japnime.com/script/beta1/deep/test.php
Test site2: http://japnime.com/script/beta1/deep/level2/index.php

[2017-06-06 18:50] wteran commented on #7
yes however there is been some modifications on the google apis, due to the amount of illegal hosting altho there is ways it is hard to get, moreover vpn seems to way to go also there is some coherent with youtube's api now so it might be easier but like i mentioned before I'm not an expert in this.

[2017-06-06 19:44] ArdiArtani commented on #7
Guys I tried everything I even bought a hosting that supports ipv6 but it's not working. We need more people to contribute and lets make this happen :)

[2017-06-06 20:01] threathgfx commented on #7
@ArdiArtani I've discovered something but I think you have seen this tho, sent from your email.
If you manage to get what I mean from that email, by getting the links of it by their quality then hopefully this will succeed since pre_replace this urls to redirector.googlevideo.com will not work unless you have methods of it.

[2017-06-06 21:08] milankragujevic commented on #7
Anyone got info? I know how to get link from iOS that does not require cookie, but I can't get redirector links working from server to client. the ios method only works on one ip.

[2017-06-06 23:52] ArdiArtani commented on #7
@threathgfx I saw it I'm working on it. @milankragujevic can you send me the ios script my email is ardiartani@gmail.com.

[2017-06-07 00:47] ArdiArtani commented on #10
Yeah, this script is temporary until I find the solution for the real one

[2017-06-07 00:47] #10 closed

[2017-06-07 00:49] ArdiArtani commented on #11
I know right now it grabs only the download link, I'm working on the quality links

[2017-06-07 00:49] #11 closed

[2017-06-07 02:54] gnouv commented on #7
hi,

as we know: we can grab links via get_video_info (drive.google.com|docs.google|mail.googles) and the drive link its self https://drive.google.com/file/d/[id]/view

all of them requires cookie DRIVE_STREAM and ip matching (can bypass with redirector.googlevideo.com)

otherwise returns 403

The last time it worked with https://drive.google.com/file/d/[id]/view **?mobile=true**

Now we can see s

[2017-06-07 04:16] threathgfx commented on #7
@milankragujevic can i see that method, threathgfx@gmail.com send here :)

[2017-06-07 04:23] threathgfx commented on #7
@gnouv thanks, I think I'm closer to solve this 403 thing

[2017-06-07 05:21] ArdiArtani commented on #7
@gnouv Thanks very helpful. @threathgfx lets get it done 👍

[2017-06-07 07:17] ArdiArtani commented on #7
Does anyone know the programming language Ruby on Rails?

[2017-06-07 07:19] TheTreesNetwork commented on #7
@ArdiArtani yes, feel free to email me - treesnetworkgh@gmail.com

[2017-06-07 07:43] cristiantimar commented on #7
@ArdiArtani, @gnouv I have the solution with drive id and ipbits = 0. the script works with an android mobile token and with gsuite accounts.
So a gsuite accounts allow up to 500 requests / 24 hours. I already use it with 140 gsuite accounts.
I can share it with you if have some ideas. Please contact me at whocdn@gmail.com

[2017-06-07 08:03] ppoot commented on #7
@cristiantimar  so If a gsuite accounts has 500 videos, Can only 1 requests / 24 hours?

[2017-06-07 08:21] ArdiArtani commented on #7
@cristiantimar What if we create multiply gmail accounts and once it hits 500 switch to another account can we do that?

[2017-06-07 11:45] cristiantimar commented on #7
Yes, the script will automatically search for the account which didn't already made 500 requests.
but for example, I have 9000 videos on my site, I need 160 accounts.
PS: 160 gsuite emails.

[2017-06-07 11:47] cristiantimar commented on #7
@ppoot Let's say that you have an gsuite email account, it will allow you to get redirectors for a video 500 times in 24 hours. but you do not need to take it 500 times for a video, only 8 times, because a redirector works 3 hours. If you have a lot of videos you need a lot of gsuite mail accounts. I will publish an api example on my site.

[2017-06-07 12:10] cristiantimar commented on #7
I made an example now on my site.
To get redirectors: https://apimov.com/example.php?id=0B7xwjpC8UmMdR0hTMlBZSUNTY1E&accounts=https://apimov.com/example_accounts.php

Parameter "id" is the driveid of the video file.
Parameter accounts is the json url of gsuite email accounts(I added this way because probably some of you need more available requests)

For the parameter accounts you have to use your

[2017-06-07 12:17] Sweeeeep commented on #7
so ur api service is free ?

On Wed, Jun 7, 2017 at 8:10 PM, TCR <notifications@github.com> wrote:

[2017-06-07 12:18] cristiantimar commented on #7
Yes. but if server will have over 1 milion of requests daily I will close it.

[2017-06-07 12:21] Sweeeeep commented on #7
so what is the solution to high traffic site ? is your script open for
selling ?

On Wed, Jun 7, 2017 at 8:18 PM, TCR <notifications@github.com> wrote:

[2017-06-07 12:25] cristiantimar commented on #7
The solution for high traffic is to add many gsutie email accounts. Script is not for sale.
You can calculate how many accounts you need if: 1 accounts allows 500 requests at every 24 hours.

[2017-06-07 12:26] Sweeeeep commented on #7
@cristiantimar okay!

[2017-06-07 12:29] gnouv commented on #7
@cristiantimar Thank you so much, i just sent u an email, pls check. U replaced explorer = storage? : D u can see they has api params.

[2017-06-07 12:39] caianjj commented on #7
but how did this site [http://dramacity.se/angel-whispers-%E8%8A%B1%E8%A1%97%E6%9F%B3%E5%B7%B7/](http://dramacity.se/angel-whispers-%E8%8A%B1%E8%A1%97%E6%9F%B3%E5%B7%B7/) not include the &driveid in the streaming link

`https://r3---sn-mn4vg5aa-5hnl.googlevideo.com/videoplayback?id=d95a7242ec6d98d5&itag=22&source=webdrive&requiressl=yes&ttl=transient&pl=39&ei=4uc3Wc2NGI-6-APiyJ_oBg&mime=video%2Fmp

[2017-06-07 12:53] BrunoGysin commented on #7
No need to add thousands of accounts, it is possible to use the same. Before 24h.
It is still a manual process, but I intend to make it automatic.

[2017-06-07 13:05] threathgfx commented on #7
I need a script that may result as `app=storage`, what post url did they use?

[2017-06-08 08:59] gnouv commented on #7
@threathgfx i think they are using API in Google Cloud, not just only a post URL. ANW, it is a secret and they dont want to share (even sell).

[2017-06-08 09:02] threathgfx commented on #7
@gnouv I have a noob question, since I'm a beginner from coding php, how do you code this kind of thing like example:
website.com/auth.php?id=put a value here

[2017-06-08 11:23] milankragujevic commented on #7
Well Amazon Cloud Drive removed the unlimited plan, there is no reason to think Google won't too, I think this is our signal to migrate away from Google Drive... :(

[2017-06-08 17:34] gnouv commented on #7
@milankragujevic yep, i think so, Google will troll use again =)) so backing-up hosting is needed. Dont store files only on google.

[2017-06-09 10:50] threathgfx commented on #7
403 is really my problem.

![screenshot_69](https://user-images.githubusercontent.com/29234610/26972444-67eb6f86-4d44-11e7-8d01-9ef11d0fb31a.png)

[2017-06-09 16:56] mbivol10 commented on #7
@threathgfx  how did you get that ? What API is that? Do you have the source code?

[2017-06-09 22:02] SimDonovan commented on #7
@threathgfx can you pls share the script?

[2017-06-09 22:25] milankragujevic opened #12 "Won't grab DL links for certain files"
Try the script iwth https://drive.google.com/file/d/0B5qICdpK2azodGlwYngweGF3VzA/view ... It won't work...

[2017-06-09 22:43] mbivol10 commented on #12
Well if you noticed your video is actually missing the download button, while the video in the demo has a download button. My guess is you have restricted permissions or your account settings are messed up. Don't blame the API, it is doing what It can do given the proper account. So try it again once you fix the permissions issue.

[2017-06-09 23:19] milankragujevic commented on #12
Try uploading a 700MB video and try it into the API it won't work, only videos less than 35 MB work...

[2017-06-10 00:15] threathgfx commented on #12
@milankragujevic as @mbivol10 said, the permission is messed up, fix it since mine was working and this file sizes up to 3gb tho

![screenshot_74](https://user-images.githubusercontent.com/29234610/26998314-cde73b42-4db4-11e7-97b9-eb3d167f978d.png)

[2017-06-10 01:18] milankragujevic commented on #12
ok.

[2017-06-10 01:18] #12 closed

[2017-06-10 12:22] wteran commented on #7
@threathgfx  Like i said before without a proper api you won't be able to overpass the 403, now what i know some VPN servers have api integration for google drive and other storage server but get removed do to violation of TOS so they don't last long.

Google drive -> api -> JSON - > cookie = request

This is the perfect order to grab the file.

[2017-06-10 17:54] milankragujevic commented on #7
the script is broken again, got 403.

[2017-06-11 00:14] rastafara45 commented on #7
i currently test my api here's
![newapi](https://user-images.githubusercontent.com/29345522/27007230-e30b88b0-4e7d-11e7-8850-db394e23f410.png)

[2017-06-11 00:20] mbivol10 commented on #7
Um so I found a website which you can think of as a demo to show that this works:
http://drivehost.us/embed-video/
And here is the source code of that website https://github.com/quocnguyen/dt-worker . Unfortunately it's written in nodejs not php, but What he is doing is taking the headers of the requester and posting them to google then using the headers of that requester he gets the streaming lin

[2017-06-11 00:31] TheTreesNetwork commented on #7
@mbivol10 that script simply pipes the response from Google to the initial request. It means your server will be delivering the video to the user, not Google, costing you bandwidth. It's not a viable solution.

[2017-06-11 00:32] milankragujevic commented on #7
However what we could do is use my script that splits video into virtual chunks and let cloudflare cache that... anyone interested in a demo? beware, not working on ios because webtorrent...

[2017-06-11 02:15] milankragujevic commented on #7
I made the f***ing demo in any case, here you go: http://mkdrivestream.club/test/

[2017-06-11 04:09] threathgfx commented on #7
@rastafara45 what script is that?
@mbivol10 Yeah, I've tried that to my localhost but bluehost doesn't have node support so "meh" for me for a while

[2017-06-11 04:11] thekksed commented on #7
@TheTreesNetwork It might still be viable with couple cheap unmetered vps. Anyone know any php script that can do that?

[2017-06-11 04:12] threathgfx commented on #7
@thekksed what do you mean with the php script?

[2017-06-11 04:12] TheTreesNetwork commented on #7
@thekksed it would be very poor performance. There's a reason people haven't been writing their scripts this way to get around the issue. It's not a new technique.

[2017-06-11 04:15] threathgfx commented on #7
Im now curious to rastafara45's api

[2017-06-11 13:49] gnouv commented on #7
@rastafara45 Could u pls send us here a advice, suggestion? Thanks

[2017-06-11 19:35] 150151714 commented on #7
@milankragujevic Hello, I tried your GetLinkDownloadGoogleDrive but it seems that the return url is not working, it always show 403 error

[2017-06-12 02:20] RiseCoder commented on #7
Yes, I still can not find a solution. It should not be that hard.

[2017-06-13 02:59] milankragujevic commented on #7
@150151714 I don't think it works anymore, you need to use a proxy, google filled all the holes afaik.

[2017-06-13 06:09] rastafara45 commented on #7
[{file: "https://reDIrECtOR.GOoGLeVIdEo.coM/videoplayback?id=19e3c7fd6fd45f15&itag=22&source=webdrive&requiressl=yes&ttl=transient&mm=30&mn=sn-q4f7sn7l&ms=nxu&mv=u&pl=24&ei=ln4_Wb7pMYXlqgXb_KOgBw&driveid=0B6VYU2mjTdy0WVRjb1BJUU1hYXM&mime=video/mp4&lmt=1480991186991194&mt=1497332944&ip=162.218.115.210&ipbits=0&expire=1497347798&sparams=ip,ipbits,expire,id,itag,source,requiressl,ttl,mm,mn,ms,mv,pl,e

[2017-06-13 06:12] RiseCoder commented on #7
@rastafara45 Can you share with us how you do it? I can help you with breaking 500.

[2017-06-13 06:25] rastafara45 commented on #7
@RiseCoder pm me jake@kjpug.ws.gy

[2017-06-13 07:03] RiseCoder commented on #7
@rastafara45 mail sended.

[2017-06-13 07:59] mkalyon commented on #7
@rastafara45  can u send to me mkvodmk@gmail.com

[2017-06-13 08:22] RiseCoder commented on #7
Jake?

2017-06-13 10:59 GMT+03:00 mkalyon <notifications@github.com>:

[2017-06-13 10:08] mbivol10 commented on #7
@threathgfx as far as I'm aware bluehost has also unlimited bandwidth and you should have ssh access. Why not use gdrive cli and php to stream directly using bluehost bandwidth ? No need for complex api that only lasts until google fixes it. And google drive cli supports byte range meaning you could stream directly with php.

[2017-06-13 10:16] mbivol10 commented on #7
@thekkseed It should be easy to write the php script but I realise that php might have exec disabled for using the drive cli. So maybe hooking Google drive Api V3 to php directly.

[2017-06-13 10:54] milankragujevic commented on #7
I recommend you use scaleway's cheapest server in a multi config plus a load balancer, because they offer 200Mbps bandwidth for €2.6/mo... It works, I already did it.

[2017-06-14 03:01] bebetoalves commented on #7
This guy manages to generate direct links from gdrive without IP restriction, any idea how he got it?
I have already tried the API but has restriction to download.

http://www.bagusdl.pro/drive/

[2017-06-14 12:16] threathgfx commented on #7
@mbivol10 could you tell me more about that since I'm just only a beginner

[2017-06-14 12:40] bebetoalves commented on #7
I've already been able to generate, but I can't download. And his link is somewhat different from the API generated.

[http://i.imgur.com/1bWjeVO.png](Print)

[2017-06-14 13:02] SimDonovan commented on #7
Im new in Curl but luck this: https://github.com/SimDonovan/Obtener-Links-IPv4-IPv6-Google-Drive

[2017-06-14 14:23] milankragujevic commented on #7
@bebetoalves Scrape the download page and get download link that way. It doesn't have IP restriction.

@SimDonovan That doesn't work.

[2017-06-14 15:21] bebetoalves commented on #7
@milankragujevic  I've tried this, no IP restriction but has cookie restriction.

[2017-06-14 16:27] bebetoalves commented on #7
Never mind, I found a solution. :D

[2017-06-14 16:32] SimDonovan commented on #7
@bebetoalves what solucion my friend?

[2017-06-14 18:02] BrunoGysin commented on #7
Drive work:
https://www.pharstream.com/Movie/2375275331/

[2017-06-14 18:38] bebetoalves commented on #7
@milankragujevic  I'm getting 400 bad request on scraped link (i'm using php to do this), any idea how to solve this?

[2017-06-14 19:24] RiseCoder commented on #7
@BrunoGysin Will you share with us?

[2017-06-14 20:36] SimDonovan commented on #7
So much bla bla bla bla and no 1 share....

[2017-06-14 23:31] RiseCoder commented on #7
@SimDonovan Yes. Less talk a lot of work.

[2017-06-15 09:25] threathgfx commented on #7
just waiting for the solution...

[2017-06-15 16:10] savanup commented on #7
need help! any solution for API that convert to JWplayer embed code ....
i will donate some amount!!!

[2017-06-16 14:54] Leonsss commented on #7
Guys here is a link for a tutorial of how to get the google drive video link : https://viblo.asia/dam.sam.nang/posts/jvlGaqAmGVr but it is with Ruby on Rails. So anyone who knows
ruby on rails can try it and tell us if it works.

[2017-06-16 14:57] ArdiArtani commented on #7
@Leonsss I tried it few days ago it didn't work.

[2017-06-16 15:34] bebetoalves commented on #7
"Note: THAT URL JUST WORKS WITH SHARE ANYONE, IF YOU WANT TO WANT WORK WITH URL PUBLIC OR PRIVATE URL, PLEASE CONTACT TO ME"

I suggest you contact him.

[2017-06-16 17:54] Leonsss commented on #7
@bebetoalves I tried but i didn't see any contact info by him. But I think its working anymore because google make an update about two weeks ago

[2017-06-17 20:29] kamran-tahir opened #13 "how to hide/encrypt the video source in jwplayer?"
I am using your script and it is great. I just want to make my jwplayer video src secure so any one can not stream my video or copy my video source. I have searched a lot but no success. Is it possible?

[2017-06-17 20:47] mbivol10 commented on #7
@threathgfx I don't know what to tell you, I guess I'll tell you what I did to get mine to work. Go to https://github.com/prasmussen/gdrive scroll down for the download links ... I'm hosting on shared hosting so mine was linux 32 bit. which is this https://docs.google.com/uc?id=0B3X9GlR6EmbnLV92dHBpTkFhTEU&export=download then run it in command line using ssh. SSH however you like, with putty or w

[2017-06-19 13:08] threathgfx commented on #7
@mbivol10 so the video is required to be login? is there an automatic process? or nah

[2017-06-19 13:09] threathgfx commented on #13
You can modify the code, get a jwplayer code and edit some variables

[2017-06-19 14:30] mbivol10 commented on #7
I mean you could make it without login as well. Gdrive was just easier to watch the downloading process of the files and their ID. Other that I don't see why you'd need to login as long as you have the File ID you could always use php to get direct link like "https://drive.google.com/uc?export=download&confirm=".$scraped_confirm."&id=".$file_id but as far as I know google dosen't give you details

[2017-06-19 21:57] kamran-tahir commented on #13
is this the answer? no technical information,no logic .What kind of answer is this? edit variables? which variable? what to do? strange answer.!!

[2017-06-20 03:09] ArdiArtani commented on #13
I just created a script you can download it here <a href="https://github.com/ArdiArtani/Hash-URL">https://github.com/ArdiArtani/Hash-URL</a>

[2017-06-20 03:09] #13 closed

[2017-06-20 08:47] rawkon commented on #7
Some links don't work but Google Chrome.

Is this related with this problem?

[2017-06-20 16:49] RiseCoder commented on #7
@rawkon no.

Friends have solved this problem, but they do not share. It is retrieved via API via Google accounts, but nobody has explained it with code.

[2017-06-21 19:27] colicrod commented on #7
@cristiantimar https://apimov.com/example.php is 404???
do u still provide example? or what is the correct url...

[2017-06-21 21:45] rawkon opened #14 "No issue but request"
I know this isn't an issue but couldn't find a place to put my request.

I need to put quality option to my player like: 360p - 480p - 720p - 1080p

Is it possible to do with this script?

[2017-06-23 14:11] threathgfx commented on #7
If you can convert this to PHP, you can now bypass the gdrive cookie restriction.
=> https://github.com/ddurdle/Python-GoogleDrive-VideoStream

[2017-06-23 21:33] TheTreesNetwork commented on #7
@threathgfx how exactly does that bypass the restriction? It just seems to download the file using the cookie, which isn't a solution..

[2017-06-23 22:55] colicrod commented on #14
it's not possible,

[2017-06-24 01:28] threathgfx commented on #7
@TheTreesNetwork i've seen some website that they are using this cookie thing to remove the restriction of it, In my mind I just thought it may help but you know, Im just a beginner in this coding world so please bear with me.

[2017-06-24 02:25] chopraaa commented on #7
@threathgfx They're using cookies to remove the restriction of cookies?

Has anyone gotten past the audio issue with `.mkv` files using Google_Http_Request($downloadUrl, 'GET', null, null)? Afaik, this script gets the same link but via DOM selectors. The download link you get doesn't allow `.mkv` streaming.

[2017-06-24 02:27] TheTreesNetwork commented on #7
@chopraaa I'm guessing that library just uses the official Google Drive API to stream the download of the original video file. It doesn't work with MKVs because browsers cannot play MKVs natively.

You need to use the Google Video redirector service instead which transcodes videos in to MP4s. Unfortunately no one is sharing a way to generate redirector links at the moment :\

[2017-06-24 02:40] chopraaa commented on #7
@TheTreesNetwork Yes, that's the official PHP library by Google.

What I don't get is why this script evaluates DOM to get download links whereas it can do it to get redirector links. Get a video embed link from /preview or /view, evaluate the source and serve that URL for streaming.

[2017-06-24 02:41] TheTreesNetwork commented on #7
@chopraaa because redirector links are now restricted to those who have the `DRIVE_STREAM` cookie generated when you load those page, not just by IP/etc.

[2017-06-24 02:45] chopraaa commented on #7
@TheTreesNetwork I see. So that's what the wall of text above is about, I guess. 😆

This leaves us with very limited options, I'll see what I can do to serve `.mkv` this way without losing A/V. Chrome can manage to show video but Firefox can't do either A/V.

[2017-06-24 02:47] TheTreesNetwork commented on #7
You will not be able to do it natively across all browsers as there are only a limited number of containers/codecs supported. You only really want to use MP4/WebM which is what redirector uses.

[2017-06-24 14:45] ppoot commented on #7
i see
app=blogger

https://redirector.googlevideo.com/videoplayback?requiressl=yes&id=705e037b7dcd9e4a&itag=18&source=blogger&app=blogger&cmo=secure_transport%3Dyes&cmo=sensitive_content%3Dyes&ip=0.0.0.0&ipbits=0&expire=1500462701&sparams=requiressl,id,itag,source,ip,ipbits,expire&signature=8EFFD932D181597CB82D688D7C06BFF118BD4C61.90C684FC45F27642BCC8C3A695F9E7A49F29BD29&key=ck2

http://naruto.pw/

[2017-06-24 15:30] milankragujevic commented on #7
@ppoot They seem to be uploading directly to a blogspot blog, then embedding it into a post, then scraping the post page and getting the redirector link... I'm researching it, will let you all know the details when I find out more.

[2017-06-24 15:30] ArdiArtani commented on #7
@ppoot Thats using the uploader on blogger.com but there is a 100mb limit.

[2017-06-24 21:03] adminy commented on #7
@threathgfx the link you sent is quite interesting. It sets up a web server allows connections and then it takes connection information from the client, posts it using the server and then streams back in byte range back to the client. Its more efficient then what I have and its neat. I might switch my solution to this one. It seems to work better, and It actually uses less bandwidth since its usin

[2017-06-25 02:03] chopraaa commented on #7
Sorry if I'm late to the party.
What's the difference between `app=storage` and `app=explorer`? Why is necessary to use redirector links?

[2017-06-25 03:11] chopraaa commented on #7
https://apimov.com/goget.php?id=0B7xwjpC8UmMdR0hTMlBZSUNTY1E seems to have `app=storage` appended to it but I still can't view the videos.

`{
    "status": "ok",
    "result": {
        "sources": [
            {
                "url": "https:\/\/redirector.googlevideo.com\/videoplayback?id=8b9d116fca80aaa3&itag=18&source=webdrive&requiressl=yes&ttl=transient&mm=30&mn=sn-5hnedn7k&ms=nxu&mv=u&pl=2

[2017-06-25 03:12] TheTreesNetwork commented on #7
Yes, those links work.

[2017-06-25 03:14] chopraaa commented on #7
Do they? I'm getting a 403.

[2017-06-25 03:15] TheTreesNetwork commented on #7
Are you JSON decoding them, i.e. removing the blackslashes?

[2017-06-25 03:43] chopraaa commented on #7
Yes, of course.

[2017-06-25 04:09] ArdiArtani commented on #7
@chopraaa it's working try to decode it using this site [json.parser.online.fr](http://json.parser.online.fr)

[2017-06-25 05:43] chopraaa commented on #7
It randomly started working without me making any changes.

Has anyone figured out how @cristiantimar has managed to do it?

[2017-06-25 07:11] chopraaa commented on #7
Same shit happening again. It's generating links but I can't view the video.

https://pastebin.ca/3835382 was generated, `https://redirector.googlevideo.com/videoplayback?id=8b9d116fca80aaa3&itag=18&source=webdrive&requiressl=yes&ttl=transient&mm=30&mn=sn-5hnedn7k&ms=nxu&mv=u&pl=22&ei=U1RPWZHELNiQqgWu7b7YCw&driveid=0B7xwjpC8UmMdR0hTMlBZSUNTY1E&mime=video/mp4&lmt=1461743539046407&mt=1498371002&ip=1

[2017-06-25 11:53] kamran-tahir opened #15 "How to toggle different resolution for the same video file on jwplayer."
Hi, I just want to toggle different resolutions for the same file like on youtube.
This is what I mean
I have a file of 1080p and it is playing then I need to provide the toggle resolution options below then 1080 like 720p,480p,360p . I have been exploring this and I found that we have to provide different sources for each resolution but I think it can be done using the same file. I am working har

[2017-06-25 12:44] catalinx3006 commented on #15
change $file with this

[2017-06-25 12:44] catalinx3006 commented on #15
$file = '[{"type": "video/mp4", "label": "360p", "file": "'.$linkdown.'"}, {"type": "video/mp4", "label": "480p", "file": "'.$linkdown.'"}, {"type": "video/mp4", "label": "720p", "file": "'.$linkdown.'"}]';

[2017-06-25 13:36] kamran-tahir commented on #15
@catalinx3006  thanks a lot for your solution. I have implemented it and now "HD" button is showing but no options for 360p,480p are showing and when i click on "HD" button video pause for a second and then play again. It is not toggling resolution.

![screen](https://user-images.githubusercontent.com/29511058/27516530-3e9a189c-59d5-11e7-8585-0297455d315a.png)

[2017-06-25 13:40] chopraaa commented on #15
Because you need files of different resolutions to toggle between them...

[2017-06-25 13:42] kamran-tahir commented on #15
can we do it using the same file. If i have 1080p file . jw player should toggle its resolution to lower resolutions.What you say is it possible?

[2017-06-25 14:40] chopraaa commented on #15
This is not possible.

[2017-06-25 14:43] kamran-tahir commented on #15
@chopraaa  can you provide me a reference of what you are talking about the "Fact"?any authentic and logical reference?

[2017-06-25 14:55] chopraaa commented on #15
https://support.jwplayer.com/customer/portal/articles/1428524

[2017-06-25 15:06] kamran-tahir commented on #15
Nice article thanks. what does this mean?Quality Toggle vs Multiple Sources

[2017-06-25 15:10] milankragujevic commented on #15
@kamran-tahir You obviously don't understand how video works, but in any case, you need to have a different video file to be able to play it at a lower resolution. Google Drive transcodes the files so that you can watch even AVI (XVID) files in the browser because they transcode to MP4 (H.264+AAC), but if you're using direct download link that is not done and so it's not possible to watch lower re

[2017-06-25 15:13] threathgfx commented on #7
still waiting~

[2017-06-26 01:13] WangSirMe commented on #7
@cristiantimar Can someone sell me the scirpt?

[2017-06-26 01:15] WangSirMe commented on #7
Or someone can sell me if you have cracked the new script.

[2017-06-26 11:28] chopraaa commented on #7
tplugin.com seems to have it working too.

Sample link: `https://r1---sn-a5mekney.googlevideo.com/videoplayback?api=tplugin.com&id=90d02670a9cca188&itag=37&source=webdrive&requiressl=yes&ttl=transient&pl=24&ei=2uZQWdTAHYjzqgXNmK_wBg&driveid=0B_8hViYX6y5WYzh3NGZ5UkExY2M&mime=video/mp4&lmt=1498466663259744&ip=40.69.186.165&ipbits=0&expire=1498488602&sparams=driveid,ei,expire,id,ip,ipbits,itag,lmt,mi

[2017-06-26 11:30] TheTreesNetwork commented on #7
I'm seeing a lot of URLs with `api=....`, so there must be an OAuth API endpoint that can be used to generate redirector links...

[2017-06-26 17:06] colicrod commented on #7
@TheTreesNetwork The app=XXXX can't really be trusted, as it's not essential for the redirector links to work. You can change it to anything and link still working, including the mystified app=storage. So for what I can see... gomovies.sc not really successful in finding the 'app=storage' links, it just replace the original app=explorer to storage, including the new "app=googlevideo". How I can sa

[2017-06-26 17:49] kamran-tahir opened #16 "google photo video is not playing in jwplayer"
I uploaded my video in google photos and then try to play the link in jwplayer but it is not playing . is this "google-drive-player-script" can play the video from google photos with modification.?

[2017-06-26 18:33] Leonsss commented on #16
@kamran-tahir I don't think that this script support video's url from google photo. But u can enable allow google photos in google drive option and take video url from google drive

[2017-06-26 18:35] kamran-tahir commented on #16
@Leonsss  thanks for reply. how can I allow google photos option in google drive? can you elaborate a bit?

[2017-06-26 19:22] Leonsss commented on #16
@kamran-tahir In your google drive u have a settings option. At the top of your right side. Click the settings icon and than u will see some options. Check the option ( Create a Google Photos folder , Automatically put your Google Photos into a folder in My Drive ). Then in your google drive u will see a folder named google photos. There u can find all videos from google photos. Note: the videos w

[2017-06-27 03:25] donguyenha opened #17 "it does not generate the redirector.googlevideo.com.."
i check the cached files in cache folder and the link is
https://doc-08-7c-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/kkkkq0kcmslfojlfrlojiq058bpmf1e1/1498528800000/1340883420501142032

it is not redirector.googlevideo.com/videoplayback

how to fix it

[2017-06-27 06:48] TheTreesNetwork commented on #7
@colicrod `api`, not `app.`

[2017-06-27 09:26] kamran-tahir commented on #16
@Leonsss @ArdiArtani  any way to play it programmatically?

[2017-06-27 10:56] Leonsss commented on #7
Guys does anyone knows if there is a option for downloading different quality rather than 720p using this https://drive.google.com/uc?export=download&id= .

[2017-06-27 11:05] milankragujevic commented on #7
@Leonsss No

[2017-06-27 11:37] Leonsss commented on #7
@milankragujevic Damn. If this was an option we could easily make the custom player with quality options

[2017-06-27 12:42] Leonsss commented on #16
@kamran-tahir I didn't understand you. Can explain it a bit more

[2017-06-28 03:59] chopraaa commented on #7
@TheTreesNetwork Did you learn anything new about the `api` tags?

[2017-06-28 09:56] threathgfx commented on #17
@donguyenha, it really doesnt generate redirector.googlevideo.com. It only focuses to the direct download using `uc=`

[2017-06-28 10:04] threathgfx commented on #7
https://github.com/ddurdle/ddurdle.github.io/tree/master/repository.ddurdle/plugin.video.gdrive
An add-on for KODI, I don't know if this may help~

[2017-06-28 10:22] donguyenha commented on #17
@threathgfx how to generate the link with redirector.googlevideo,com,
ex:
https://redirector.googlevideo.com/videoplayback?id=49ce579a8ac5005b&itag=22&source=webdrive&requiressl=yes&ttl=transient&pl=33&ei=OnNTWeaMJpPIqAWgx5WoBg&mime=video/mp4&lmt=1498589208203180&ip=2600:3c01::f03c:91ff:fe60:c14e&ipbits=0&expire=1498655610&sparams=api,ei,expire,id,ip,ipbits,itag,lmt,mime,mm,mn,ms,mv,pl,requiressl,

[2017-06-28 11:50] chopraaa commented on #17
That's currently being discussed as we don't know yet. Nobody has made it public if they do know.

[2017-06-28 21:57] merde99 commented on #7
I have another solutions but need lots of gsuite accounts.. still working on app=storage..
you can contact me for ideas.

Thanks

[2017-06-29 02:11] merde99 commented on #7
Nope still using app=explorer. And no hidden driveid...  Still in progress ..

[2017-06-29 09:48] catalinx3006 commented on #7
hi, this project work https://duongtang.clgt.vn  full source here https://github.com/quocnguyen/dt-worker and https://github.com/quocnguyen/dt-api but how to install it

[2017-06-29 09:49] milankragujevic commented on #7
@catalinx3006 That's a simple proxy of the links, it's completely useless...

[2017-06-29 09:52] catalinx3006 commented on #7
ok , thanks, @milankragujevic

[2017-06-29 15:25] ppoot commented on #7
@merde99 Do you sell it?

[2017-06-29 15:42] merde99 commented on #7
@ppoot  you can contact me at skype chenjohny@ymail.com

[2017-06-29 16:08] ppoot commented on #7
@merde99 Please add me

[2017-07-01 03:47] #17 closed

[2017-07-01 03:48] ArdiArtani commented on #16
This repository is only for google drive

[2017-07-01 03:48] #15 closed

[2017-07-01 03:49] freddiehdxd opened #18 "How can we use this in our site"
l mean everything work fine on the demo. how to make it work on a site with multiple google drive videos in my case more than 400 one in each post. can we the self host jwplayer with this?
is this a temporary solution or google will kept changing they method.

developer email me:

[2017-07-01 03:49] ArdiArtani commented on #14
Not yet.

[2017-07-01 03:49] #14 closed

[2017-07-01 03:50] ArdiArtani commented on #18
Download the files upload them and call the function for each google drive video.

[2017-07-01 03:51] freddiehdxd commented on #18
How to call then?. What function? I am using WordPress

On Jun 30, 2017 11:50 PM, "Ardi" <notifications@github.com> wrote:

[2017-07-01 04:05] freddiehdxd commented on #18
can we implement it in a jwplayer plugin ?

[2017-07-01 04:10] freddiehdxd commented on #18
and how to use it with flowplayer

[2017-07-01 04:14] ArdiArtani commented on #16
https://github.com/ArdiArtani/Google-Plus-Player-Script

[2017-07-01 04:15] ArdiArtani commented on #18
Thats something I can not help you.

[2017-07-01 04:15] #18 closed

[2017-07-01 04:20] freddiehdxd commented on #18
but how can l call the videos?

[2017-07-01 17:03] cristiantimar commented on #7
My script works only with multiple gsuite accounts.
1 acc has 150 requests / 24 hours(Before it has 500)

[2017-07-01 17:07] cristiantimar commented on #7
Here is also my proxy example: https://apimov.com/proxy/get/0B6THYVoqAhh5XzNOR3dhSEZqU1k

[2017-07-02 01:32] enbiri opened #19 "nice work but dont have resolutions"
works properly but need 360p,480p.. or sth

[2017-07-02 04:45] chopraaa commented on #7
@cristiantimar Can you share your script(s) with us?

[2017-07-02 06:02] threathgfx commented on #19
The script is only used for single link, you may go here https://github.com/ArdiArtani/Photo-Google-Player-Script if you to have resolutions

[2017-07-02 06:39] tia3 commented on #7
@cristiantimar how about the 160 gsuit account? you pay by each 4 usd/month? Or .edu accounts are equal to gsuite accounts? how did you got as many acc?
Anyone know is it a difference between Basic and Business account in the limit point of  view?

[2017-07-02 09:08] cristiantimar commented on #7
I can't make it public but I can open api for people who wants.
@tia3 if u have 160 gsuite accounts it means 150*160 = 24.000
So, you can make 24k requests to get redirectors.
Cache for every redirector is up to 4 hours. my script already setted it.
So you will be able to keep active 4000 videos per day with 160 acounts.

[2017-07-02 10:30] kamran-tahir opened #20 "How to hide/encrypt jwplayer ajax requests that contains the video id ."
Hi, I want to hide or encrypt the ajax calls send by jwplayer that contains the google video id and someone can steal this id to leach the video. Is there any way to hide/encrypt the ajax calls?

[2017-07-02 10:44] kamran-tahir commented on #16
Thanks a lot @ArdiArtani You are such a great person.

[2017-07-02 11:57] chopraaa commented on #7
@cristiantimar That's too expensive.

Please see if you can make your proxy script public.

[2017-07-03 08:39] ombapit commented on #3
403 errors because url get_video_info requires login to google.
Please try my step:
1. Login to google via firefox
2. After login, run this link for ex: http://drive.google.com/get_video_info?docid=0B2Xl2dXzKE5NT2JmMVFuNm5CSGM
3. decode first fmt_stream_map: https://prnt.sc/fqzbq0
4. run the url decode in url in firefox
5. In my case, generated link is worked.

I think solution for this 403 errors

[2017-07-03 08:47] ombapit commented on #7
403 errors because url get_video_info requires login to google.
Please try my step:
1. Login to google via firefox
2. After login, run this link for ex: http://drive.google.com/get_video_info?docid=0B2Xl2dXzKE5NT2JmMVFuNm5CSGM
 3.decode first fmt_stream_map: https://prnt.sc/fqzbq0
 4. Run the url decode in url in firefox
 5. In my case, generated link is worked.

I think solution for this 403 erro

[2017-07-03 09:02] Roll-it-111 commented on #7
hi ombapit contact me on skype bro: rahulsiriya5@gmail.com

[2017-07-03 09:05] gnouv commented on #7
@ombapit u used your ip, your cookie browser to play, so ofcourse it can be played, the goal is other IP can play without cookie these redirector links.

[2017-07-03 09:05] ombapit commented on #7
Sorry i delete my comment, because without login google, we can play the movie with same browser. so the problem is not with google login :)

[2017-07-04 08:23] ameno-gdrive commented on #7
@cristiantimar We need to share our code so we can improve and fix limitations and quotas placed by Google.  I hope one day you will learn the value of sharing in the open source community.  Keeping your code secret does nothing for us and won't help you since Google will fix this exploit, and by that time it will be too late.

As for what I know so far about generating redirector links, the mail.

[2017-07-04 09:54] Roll-it-111 commented on #7
@ameno-gdrive please contact me on skype:rahulsiriya5@gmail.com.we can help each other.

[2017-07-04 10:01] ameno-gdrive commented on #7
@Roll-it-111 Better idea: discuss your methods here.  Everyone helps everyone else. Much better.  Let's keep it open instead of making it a closed source system; unlike the other assholes.

[2017-07-04 10:06] Roll-it-111 commented on #7
hmm Point, But you know why the people who figured it out are not making it public.(anivn.net) etc This will make google fix all the loop holes fast as they will know which is the one being exploited. Anyways I have a script which might  help you figure out proper GSuite cookie in your POST/GET request.

[2017-07-04 10:13] ameno-gdrive commented on #7
This project uses the GSuite cookies method:
https://github.com/quocnguyen/dt-api
https://github.com/quocnguyen/dt-worker

Their github codebase is outdated,but the method is the same.  They pass the GSuite cookie during the request to get_video_info, but there are so many different kinds of gsuite cookies once you log in it's very hard to keep track of.  Also Google recently updated their Gsuite

[2017-07-04 10:56] NoelCharmen commented on #7
@ameno-gdrive I have tested with gsuite cookie and also with access token from api, video link from "https://mail.google.com/e/get_video_info?docid=" still require DRIVE_STREAM cookie to play.

[2017-07-04 12:54] tia3 commented on #7
If I good to know get_video_info with mobile=true was working without cookies, but it was fixed by google. Now android 4 and below users can't use theire phone to play drive videos trough the official drive app. They get back Bad response.
Above there is formats=android connector in the request but I think it makes no sense. Seems to be it is the same as the pure get_video_info reuqest with only d

[2017-07-04 13:21] NoelCharmen commented on #7
@cristiantimar does it have to be gsuite account? does it work with google drive api access_token which has higher request limit?

[2017-07-04 20:52] kamran-tahir commented on #20
@ArdiArtani I need your help about this issue. I want to hide these id's (1i........3A_uw) in the ajax request.
<img width="1303" alt="ajax request" src="https://user-images.githubusercontent.com/29511058/27842527-3428ae72-6124-11e7-9e36-0b58b6ec30bf.png">

[2017-07-04 21:08] milankragujevic commented on #20
@kamran-tahir You can't.

[2017-07-05 08:13] chopraaa commented on #20
You can use a proxy script.

[2017-07-05 12:15] dh1ki commented on #7
wards

[2017-07-05 15:09] isjunked opened #21 "Anyway to implement this script in Wordpress posts/pages"
Hello,

Is there anyway to use this script with Wordpress. I tried to call the `curl_gd.php` by putting `include('wp-content/themes/themesfolder/curl_gd.php') ` into `functions.php`. Also used a plugin called Insert PHP and inserted these text into a Wordpress post. (I want to create one post per video)

[code]

However the post didn't display any thing and my post page had a broken design. Ran it

[2017-07-05 16:41] chopraaa commented on #21
It'd be better if you made a plugin and called the script using a short code.
 `[drive]0xDsvouRRtYiSvEiETwYWj1bRLtm[/drive]` seems like a much better implementation to me.

[2017-07-05 17:04] isjunked commented on #21
Thanks. I was thinking of creating a simple plugin with an input field in the Post Editor for the link, similar to your solution. However I'm not a programmer and I can't figure it out how to create the input field, deliver the value to the script by submitting then get the result displayed automatically . Could you please tell me what do I need to do to achive the result? I'm willing to learn. An

[2017-07-05 20:12] kamran-tahir commented on #20
@chopraaa  would you please explain a bit about proxy script?

[2017-07-05 20:37] kamran-tahir commented on #20
@ArdiArtani I need your help. i am waiting for your reply.

[2017-07-05 21:29] ArdiArtani commented on #20
Duplicate issue, please checkout this closed issue https://github.com/ArdiArtani/Google-Drive-Player-Script/issues/13

[2017-07-06 06:52] jongcs commented on #21
You can embed the video player in your wordpress post.
For example:

example.php
[code]
And put these html code in your post:
[code]

[2017-07-06 13:09] waqasbelushi commented on #21
Thanx  jongcs

[2017-07-06 13:11] waqasbelushi commented on #21
I need Some More Help If i want To hide My Iframe Url What Can I Do.

[2017-07-06 13:16] isjunked commented on #21
Thank you jongcs 👍

[2017-07-06 13:33] milankragujevic commented on #21
@waqasbelushi You can encrypt the URL, contact me via email for details, milankragujevic@gmail.com .

[2017-07-06 17:31] juanpablocs commented on #7
app=storage Does anyone know how to do it?

[2017-07-06 20:36] kamran-tahir commented on #20
@ArdiArtani  no it is totally different issue. Please read it . the #13 issue is about hide/encrypt video source not hide/encrypt google drive video id in ajax call. Both are totally different things. Please reopen the issue.

[2017-07-08 11:36] kamran-tahir commented on #20
@ArdiArtani  do you have any soulution about this issue?

[2017-07-08 19:13] chopraaa commented on #7
This may be helpful: https://github.com/ddurdle/Python-GoogleDrive-VideoStream

[2017-07-09 07:27] threathgfx commented on #21
You want something like this script?
`http://japnime.com/videotest/2017/07/09/koe-no-katachi/`

[2017-07-09 13:36] localhazard commented on #21
@threathgfx interested your script, please contact me imansauqy@gmail.com imansauqy@gmail.com

[2017-07-09 20:48] ArdiArtani commented on #20
You can use this php function to encrypt your id.

[code]

Change _$secret_key_ & _$secret_iv_ to whatever you want.

[2017-07-09 20:51] #19 closed

[2017-07-09 20:51] #16 closed

[2017-07-09 23:17] slitkovskiy commented on #7
@cristiantimar how can I reach you to get your working api ?

[2017-07-10 19:16] HandrianD opened #22 "Mozzila cant play it? eror media loading."
https://drive.google.com/file/d/0B7_M_N3zWT51R1RiaTRFdlVhejQ/view
cant play event i use mozilla in other its work ty for nice script.
other il make it same not work on mozilla
https://gamerse.net/watch.php?vid=aHR0cHM6Ly9kcml2ZS5nb29nbGUuY29tL2ZpbGUvZC8wQjdrQnpaY3huWE91ZVhRMmNHZFpVVTB0WTFVL3ZpZXc=&subs=&img=VHN1Z3Vtb21vLUVwaXNvZGUtMDItU3VidGl0bGUtSW5kb25lc2lhLmpwZw==

[2017-07-10 19:30] victornewman opened #23 "İt has limitation"
Today i figure out (after 6 hours spending) it has google drive limitation I think 40-50 times watch it enought to get limit error. You do not need script for this 1h3 link can be taken in gdrive account by right click and inspect page. But it has limit too.

Demo link turn to get link page, so you shoul know this isue.
We (I) need redirector.googlevideo.com link without 403 eror and limit problem

[2017-07-11 04:02] mangemve1511 commented on #21
@threathgfx Can you share me that script?

[2017-07-11 09:46] threathgfx commented on #21
@localhazard @mangemve1511  just mail me here: threathgfx@gmail.com

[2017-07-12 05:50] mangemve1511 commented on #21
@threathgfx I sented email to you.

[2017-07-12 08:06] chopraaa commented on #23
By not reading other active issues, you're killing our time by making us read this.

[2017-07-13 05:55] hklcf commented on #7
http://www.hayhaytv.com/phim-the-silenced-ngoi-truong-ma-quai-hd-31343636326864-xem-phim.html

[2017-07-13 07:52] creativefull commented on #7
can u give me full source ? i'll give u $1,000 USD

[2017-07-13 09:25] chopraaa commented on #7
URL for those of us who actually care about Open Source `https://redirector.googlevideo.com/videoplayback?id=b7a2c5aa4f7c5d77&itag=22&source=webdrive&requiressl=yes&pl=33&ttl=transient&ei=oyhnWeCWJNTNqAXf8INA&mime=video%2Fmp4&lmt=1498197379368794&ip=2600%3A3c01%3A%3Af03c%3A91ff%3Afefb%3Abfa8&ipbits=0&expire=1499947235&sparams=api,ei,expire,id,ip,ipbits,itag,lmt,mime,mm,mn,ms,mv,pl,requiressl,sourc

[2017-07-13 10:37] creativefull commented on #7
@chopraaa how to get the url ? please share in here bro

[2017-07-13 10:47] nghiadd90 commented on #7
@chopraaa Do you know how to get this?

[2017-07-13 10:58] gnouv commented on #7
Hi,
Did anyone use cdnplay.com?

[2017-07-13 11:23] ppoot commented on #7
why i see normal site, ip are all from linode?
2600:3c01::f03c:91ff:fefb:xxxx
2600:3c01::f03c:91ff:fe60:xxxx
California Fremont Linode

[2017-07-13 11:24] creativefull commented on #7
maybe they are using google app script ?

[2017-07-13 11:38] chopraaa commented on #7
@ppoot Must be an IPv6 thing. Script kiddies who buy this are probably told it works only on Linode.

[2017-07-13 11:39] creativefull commented on #7
@chopraaa can u share how the method it work ?

[2017-07-13 11:39] chopraaa commented on #7
@creativefull What method? I just posted the link @hklcf did.

[2017-07-13 11:40] creativefull commented on #7
ohhh, i mean u know how to get that url

[2017-07-13 11:41] ppoot commented on #7
who is selling this script?

[2017-07-13 11:42] creativefull commented on #7
https://www.facebook.com/syntax.coding/posts/1083166218477856:0

[2017-07-15 17:32] ArdiArtani commented on #23
#7

[2017-07-15 17:32] #23 closed

[2017-07-15 17:38] ArdiArtani commented on #22
This script is still under development, the one you are using is temporary. Please wait for new updates

[2017-07-15 17:38] #22 closed

[2017-07-15 18:00] knoobdev commented on #7
We are currently providing APIs for google drive, but only for sites with a high volume of traffic.
We do not provide the API if you use it for opening the service.
If anyone wants to use please contact us by mail: kcode54119@gmail.com

[2017-07-17 09:22] mangemve1511 commented on #20
@ArdiArtani Can you write ajax function? Thanks.

[2017-07-17 23:02] Roll-it-111 commented on #7
Hi selling google drive script(full) for high  traffic website. Contact skype: bookbeez230o0@gmail.com

[2017-07-20 01:59] knoobdev commented on #7
[code]

[2017-07-30 13:24] burtiburak opened #24 "New Videos Not Working"
Hi,

New videos not working. Thanks for script.

Regards.

[2017-08-01 02:14] xaiborweb opened #25 "No audio in .mkv videos"
Hello this is very interesting your script and I would like to support you with a grain of sand but all my videos are .mkv and I do not deliver audio to these videos, can you solve it?
example
https://drive.google.com/file/d/0B9WqEghYLgCmeEVxNDlLVHZiUFE/view

[2017-08-01 08:20] Nottt commented on #25
That's weird. I have mkv files too and they play just fine on google drive. Check with mkvtoolnix if there is a default audio set.

[2017-08-01 08:20] Nottt opened #26 "Is there a way to select a specific resolution?"
Most of my videos are 1080p but I would like to serve then in 720p as well. Also would be able to get a link to download the 720p video too.

Is that possible?

[2017-08-01 12:53] caianjj commented on #26
No, this script streams from the download link

[2017-08-01 12:57] caianjj commented on #25
Browsers don't support mkv, this has nothing to do with the script. I suggest you use mp4 files.

[2017-08-01 23:37] ArdiArtani commented on #25
The script scrapes from the download page mkv doesnt work im still working on it to solve the quality problem.

On Aug 1, 2017 at 2:57 PM, <caianjj<mailto:notifications@github.com>> wrote:

Browsers don't support mkv, this has nothing to do with the script. I suggest you use mp4 files.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on Git

[2017-08-02 07:44] dinhtienduc opened #27 "it's die"
i try play with your demo, url https://drive.google.com/file/d/0B2BRsRdCsaKwWmlUZTAzZGFaQlE/view?usp=sharing but it's die
please help me! thank you very much

[2017-08-02 08:18] caianjj commented on #27
It's not a valid mp4 file.

[2017-08-02 12:42] dinhtienduc commented on #27
the first, thanks for your request!
i think it is a mp4 file ,you can see my picture
)
![nono](https://user-images.githubusercontent.com/25727152/28874087-866a284e-77ba-11e7-8159-8ae30ab8ebbf.png)

[2017-08-02 12:50] dinhtienduc commented on #27
i try with url :https://drive.google.com/file/d/0B4fU5__VXkIkTV9Zc0ozN2pzRlk/view?usp=sharing
it's ok but i try with url : https://drive.google.com/file/d/0B2BRsRdCsaKwWmlUZTAzZGFaQlE/view?usp=sharing
it's die .pls you can tell me why?

[2017-08-02 22:57] mkalyon opened #29 "Cant play in Android Devices"
I coludnt play in android devices.
I use Mx player and vlc player.
How to solve this problem?

[2017-08-03 16:18] Qwatuz commented on #7
Is this script still working or are there limits of ~140 videos per day views?

[2017-08-05 09:01] herudi commented on #7
A sample playing drive streaming no limit. but i use the electron webkit. i send the cookie DRIVE_STREAM
https://github.com/herudi/electron-google-drive-video

[2017-08-05 10:31] chopraaa commented on #7
@herudi That looks great. Good job!

[2017-08-07 14:40] alardutp37259418 commented on #29
You can't play because this script didn't get the redirector link actually.
This only get the download link, no streaming.

[2017-08-07 20:59] caianjj commented on #29
yes but you can stream from the download link

[2017-08-08 19:29] alamgircsejnu opened #30 "Stream video from google photo"
Hi. Thank you for this nice script. This script helped me very much. I need another help from you. I also need to stream video from google photos. The structure of video url from google photo is
https://photos.google.com/share/AF1QipNcJG9nvepx-KkxXcpMClaLfvOktMInISXx5_swiiqvbYcnopkSZ6uvzw_q4FiJRA/photo/AF1QipMAZr3XfsKUHyOpylqW52dfU0lmdAyrSyetaWz2?key=TEhFTXF3SllBQkJDYVhEaE1vRktBZi05MkhqZnhn

I try

[2017-08-08 21:44] caianjj commented on #30
[https://github.com/ArdiArtani/Photo-Google-Player-Script](https://github.com/ArdiArtani/Photo-Google-Player-Script)

[2017-08-09 00:37] alamgircsejnu commented on #30
Thank you very much for your quick response but the script is showing error. I have attached a screenshot of the error. Can you check it for me please?
![capture](https://user-images.githubusercontent.com/19221035/29100414-2eaff170-7ccd-11e7-9d92-ce6977029328.PNG)

[2017-08-09 11:32] monster1777 opened #31 "Blogspot Streaming"
Did you see the new way of streaming videos? Some sites use 3.bp.blogspot.com domain instead of redirector.googlevideo.com. Has anyone looked into it as how it is done?

[2017-08-09 11:38] threathgfx commented on #30
This will not work at local servers, I dont know why but when you insert this from any free webhosting, it will work

[2017-08-09 11:39] threathgfx commented on #31
Yeaah, i've seen this like in 9anime

[2017-08-09 14:49] caianjj commented on #31
fmovies.is and gostream.is are also using it. 3.pb.blogspot.com is the same as lh3.googleusercontent.com

[2017-08-09 14:50] caianjj commented on #30
it works for me

[2017-08-09 23:09] monster1777 commented on #31
Isn't lh3.googleusercontent.com from google photos? Is there any upload api / upload limit to google photo, or can I use it as a storage/streaming place?
But yeah, that blogspot is interesting, I wonder how they get that links, don't think that they upload videos to blogspot because it has 100mb limit

[2017-08-10 05:10] FosterG4 commented on #21
Thanks It Work

[2017-08-10 11:50] monster1777 commented on #31
Okay yep seriously lh3 is same as that 3.bp, I have https://lh3.googleusercontent.com/oIW4XQdyRs2oswIIRO_PSYO4LzGPdLtSaXqrk2oDOs9KtvZaZdwdcYVYIV62R5tl62ORRyC00L15yJietKNurgZFHsuneeaH56ABZeQ8Nj0whtnxqWdjpiEhEHeC9NzWVmqNQ37BTQ=m18 this link, just change lh3.googleusercontent.com to 3.bp.blogspot.com and works.
Now lh3 is google photos, is there any api for it for mass upload that some of you may kno

[2017-08-10 14:35] caianjj commented on #31
lh3 is from google photos yes.

I don't know

This is a link from fmovies.is
`https://3.bp.blogspot.com/-yUmllT8C1RAFv028AdghlBpM-pNzcD-G7bpl4P9ffscUdDsVOL8SyehJu5R2EnEDwSaf9sdsg=m22?s=Zw7T0o1fS/BN646D04rEYE7EmYRsgqsF/A7HgvENmA0dkoc=`

and it redirects to
`https://r1---sn-5hne6nlr.c.drive.google.com/videoplayback?id=144976684f2b9c21&itag=22&source=webdrive&begin=0&requiressl=yes&mm=30&mn=sn-5hne6n

[2017-08-10 17:48] caianjj commented on #31
well... [http://yellowartz.nl/test/](http://yellowartz.nl/test/)

[2017-08-10 19:31] monster1777 commented on #31
Well yep I've seen that gomovies (gostream) has source=webdrive too. I only managed to do that with google photos, simply getting the lh3 link and replacing it with 3.bp.blogspot.com and it works, but shows source=picasa. Still can't manage to get that blogspot link for drive. Also what I can see that the 3.bp.blogspot.com links that redirects to webdrive are shorter, while those redirecting to a

[2017-08-10 21:36] caianjj commented on #31
I found out how to create a link with `source=webdrive` but I don't think this is how gostream.is is doing it.
It Goes as follows

1. Upload a video to google drive
2. Go to google photos
3. Then go to settings and check this box
![image](https://user-images.githubusercontent.com/22570868/29192924-9514d37a-7e23-11e7-9722-722093cea14c.png)
4. You will see the video from google drive in your google

[2017-08-11 01:22] #21 closed

[2017-08-12 02:37] ArdiArtani commented on #26
#7

[2017-08-12 02:37] #26 closed

[2017-08-12 02:37] ArdiArtani commented on #30
https://github.com/ArdiArtani/Photo-Google-Player-Script

[2017-08-12 02:37] #30 closed

[2017-08-13 00:04] monster1777 commented on #31
Yup your method works.
One thing I noticed - my links don't die, and the ones from gomovies and others die after about 12 or 24 hours. So they must be using some other method.

[2017-08-14 15:23] milankragujevic commented on #31
I think the key might be to share a drive link on Blogger, like making a blog post and embedding a Drive link in it, but I'm not sure how because if I embed drive it just uses an iframe or on old Blogger it just displays 240p FLV video...

[2017-08-17 03:09] comtrends123 opened #32 "Script does not give back the streaming link"
Did I do something wrong? Because I cannot see get the iframe box after clicking the get button. Is there the other way to get the streaming link? Currently I am using MAMP to run on locally. Is this work only on the root folder of a website only? I am by no means a web developer so forgive me if I am missing something blindly obvious.

![](http://i.imgur.com/8GjJ28K.png)

[2017-08-17 18:10] chopraaa commented on #32
It won't work locally.

[2017-08-17 22:40] RiseCoder commented on #31
Drive + All Qualifications + Open Source + Magnificent Player System Only 300 TL

Demo: http://drive.rangeplayer.com/

User Name: admin
Password: demo

[2017-08-17 22:40] RiseCoder commented on #31
Drive + All Qualifications + Open Source + Magnificent Player System Only 300 TL

Demo: http://driver.rangeplayer.com/

User Name: admin
Password: demo

[2017-08-17 22:40] RiseCoder commented on #32
Drive + All Qualifications + Open Source + Magnificent Player System Only 100$

Demo: http://driver.rangeplayer.com/

User Name: admin
Password: demo

[2017-08-17 22:41] RiseCoder commented on #7
Drive + All Qualifications + Open Source + Magnificent Player System Only 100$

Demo: http://driver.rangeplayer.com/

User Name: admin
Password: demo

Skype: info@rangeplayer.com

[2017-08-18 01:42] gnouv commented on #7
@RiseCoder lh3 or blogspot,, all will be removed soon due bandwidth, views quota limitation. Have u ever tried it with large amount of views?

[2017-08-18 03:06] comtrends123 commented on #32
@chopraaa It still does not work on my host either. I still cannot see the get embed iframe box. So basically it is like my local.

![](http://i.imgur.com/jS4w1Qw.png)

[2017-08-18 03:08] chopraaa commented on #32
It shows file cannot be played when a daily limit is reached.

[2017-08-18 03:11] comtrends123 commented on #32
@chopraaa No, I mean the get embed iframe in my page is not shown like in the demo page.

[2017-08-18 03:17] chopraaa commented on #32
It isn't supposed to be the same, it's just a demo. You can modify it to display the embed code.

[2017-08-18 05:00] comtrends123 commented on #32
Sorry for asking this but do you know how to call this source url from the script? I have tried `<?php echo $ ?>` and it seem like it does not correct.
![](http://i.imgur.com/2dRL8pG.png)

[2017-08-18 08:33] RiseCoder commented on #7
@gnouv Yes. It is now used on many series sites.

[2017-08-19 04:56] dweapons opened #33 "Direct play by id instead manual click on play button"
How can i direct play by google drive id instead manually paste link and click on play.

i want to directly play video when user open below link.

http://site.com/index.php?id=0ByaRd0R0Qyatcmw2dVhQS0NDU0U

[2017-08-21 01:58] monster1777 commented on #33
Replace index.php with this.
`<?php
error_reporting(0);
include "curl_gd.php";
if(isset($_GET)){
	$id = $_GET['id'];
	$linkdown = Drive("https://drive.google.com/file/d/$id/view");
	$file = '[{"type": "video/mp4", "label": "HD", "file": "'.$linkdown.'"}]';
} else {
	die("Please provide ID.");
}
?>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
	<title>Get link Google Drive</tit

[2017-08-21 09:06] dweapons commented on #33
thanks . its working now.

[2017-08-21 14:36] threathgfx commented on #31
Did 1080p got blocked?
`http://japnime.com/_new/download.php?id=MzEwMzce`

[2017-08-21 14:50] threathgfx commented on #31
it seems like the shorter string came from this `https://get.google.com/albumarchive/`
Is it possible to public that links there?

[2017-08-21 16:02] #33 closed

[2017-08-21 21:37] hak-jame commented on #32
Hi, How can I get the iframe embed url shown at the bottom of the video just like the demo. I did try too but it didn't work for me. Thanks in advance.

[2017-08-22 08:54] dweapons commented on #32
Sir can you make same script for pcloud.com  ?

[2017-08-22 09:34] threathgfx commented on #32
@hak-jame
`<?php
error_reporting(0);
include "curl_gd.php";
if(isset($_GET)){
	$id = base64_decode($_GET['id']);
	$linkdown = Drive("https://drive.google.com/file/d/$id/view");
	$file = '[{"type": "video/mp4", "label": "HD", "file": "'.$linkdown.'"}]';
} else {
	die("Please provide ID.");
}
?>
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
	<title>Get link Google Drive</title>

[2017-08-22 22:01] hak-jame commented on #32
@threathgfx

Thank you so much for your reply. I did really appreciate your helping.

After applying your code into the index file by replacing all orginal source. It didn't work as it shown in demo. I did try to correct some your code since it didn't work, but it still don't work at all.
I host all those files in the different directory inside root directory. **here it is** http://eroticmovie.vsh

[2017-08-22 22:41] Zebraslive commented on #32
@hak-jame
That url= is the cache file, so just create a file called embed.php including the curl_gd and grab that cache hash from url param then check the cache as drive id with the Drive function. something like that. I can post a working example for u later today when I have more time.

[2017-08-22 23:05] hak-jame commented on #32
@Zebraslive

Thank you so much. I will try it again. However please post that working example because I am really new for coding. I do appreciate for your help.

Have a good evening.
Best.

[2017-08-23 01:11] Zebraslive commented on #32
[code]

[2017-08-23 01:24] Zebraslive commented on #32
@hak-jame
The simple way without modifying the main functions.
Create a file called embed.php and add this
[code]
To output the iframe in textbox just change code at the top of the index.php file to this
**Be sure to add your site url to the $iframex variable**
[code]
Then just echo iframex below the video, for example I put it above the jwplayer script
[code]

[2017-08-23 01:58] hak-jame commented on #32
@Zebraslive
Thank you so much. Yes, It is working perfectly. However, how can you encrypted the google url that should be display in the ifram. I would like to have just like the Demo (http://google.filedeo.com/).

**Here what is look like after I replace your code.**
http://eroticmovie.vsharetoday.info/drivescript/

Again, thanks for your help.

[2017-08-23 03:24] hak-jame commented on #32
@Zebraslive

After trying to encode, finally I did. it might not really secure but should be good to use.

Again, thanks for your help and time.
Best.

[2017-08-23 04:28] dweapons commented on #32
@hak-jame

Can you share how you encrypt url ? also still i am not able to get iframe code. i got this type of iframe url which is not working.

embed.php?url=https://drive.google.com/file/d/0ByaRd0R0Qyatcmw2dVhQS0NDU0U/view

[2017-08-23 04:38] hak-jame commented on #32
@dweapons
First, you need to work with unencrypted url first. if can see the above comment of @Zebraslive . he showed me how to do that. You may just follow his steps. Once you got that work. then I will show how to encrypt. Note: make sure you have a basic file from here : https://github.com/ArdiArtani/Google-Drive-Player-Script

[2017-08-23 04:57] dweapons commented on #32
@hak-jame i installed script and edit script with @zebraslive step. then i am getting iframe code with above url which i commented. and how can i encrypt url now like demo script.

[2017-08-23 13:28] ArdiArtani commented on #32
Updated the script download the new verison.

[2017-08-23 15:57] dweapons commented on #32
@ArdiArtani  Sir when i try to edit index.php to get direct play video by url like mysite.com/drive/?id=0ByaRd0R0Qyatcmw2dVhQS0NDU0U but same null embedded code generated every time.

below is my edit

<?php
error_reporting(0);
include "curl_gd.php";

if($_POST['submit'] != ""){
	$url = $_POST['url'];
	$linkdown = Drive($url);
	$file = '[{"type": "video/mp4", "label": "HD", "file": "'.$linkdown.'"

[2017-08-24 03:26] ArdiArtani commented on #32
@dweapons Replace index.php with this.
[code]

[2017-08-24 17:37] adeadw commented on #32
Hi im new,

im just wondering, is there any way to change the resolution? (360,480,720)
when using the google iframe url preview : https://drive.google.com/file/d/0B9LPSEw89uQNeHdnbVhfVFAxWlE/preview

it will automatically detect the resolution from highest to lowest. is it possible to make that appear? or at least choose the lowest resolution by default.

[2017-08-24 18:03] Zebraslive commented on #32
@adeadw its grabbing the video from the download link so i dont think its possible like that other script that can give all resolutions. This one is using a more simplified way of getting the videos direct link.

[2017-08-24 18:29] threathgfx commented on #32
@Zebraslive is this still prone to limitation quota?

[2017-08-24 23:46] Zebraslive commented on #32
@threathgfx Not sure, as far as I can tell it looks like it should be safe from limits.
@ArdiArtani Can you confirm that it's not possible to retrieve all resolution links? Seems like it's possible.

[2017-08-25 07:59] mkalyon opened #34 "plaing on Android device"
Hi,
I cannot play link on android using mxplayer.
How to solve it? I can play link on computer using vlc player.
Thanks.

[2017-08-25 12:30] dweapons commented on #32
i tried to add this function player script but its not working. how can i add below function?

autostart: false,
image:"<?php echo $shot;?>",

and below is php part

`<?php
error_reporting(0);
include "curl_gd.php";

if (isset($_GET)) {
   $id = $_GET['id'];
   $iframeid = my_simple_crypt($id);
   $linkdown = Drive("https://drive.google.com/file/d/$id/view");
   $file = '[{"type": "video/mp4", "la

[2017-08-25 15:16] aalfiann opened #35 "Not all link from google drive is working"
I've been use this script for many days. this script is working until i found this link from google drive >> [https://drive.google.com/file/d/0B9EbJgg4jRodMk5LU0Z6azJ0YkU/view](https://drive.google.com/file/d/0B9EbJgg4jRodMk5LU0Z6azJ0YkU/view).

Actualy the above link is fine but i cant stream that link into my jw player, it shows blank. How to fix this? thanks.

[2017-08-25 15:32] dbr4389 commented on #35
This script streams from the download link and since you can't download the file due to quota exceeded. You also can't play the video.

[2017-08-25 15:52] mkalyon commented on #34
I try this link
https://drive.google.com/file/d/0ByaRd0R0Qyatcmw2dVhQS0NDU0U/view
it is mp4 format.

[2017-08-25 17:43] Zebraslive commented on #35
@dbr4389 Do you know what the quota is? or how it can be avoided? I'm running multiple drive accounts if that helps.

[2017-08-25 19:16] Qwatuz commented on #35
Quota is maybe 2TB/day download.

[2017-08-25 20:06] yozlam opened #36 "How to disable autoplay?"
When I embed the iframe the video always autostart. How to disable it?

[2017-08-25 20:12] #36 closed

[2017-08-25 20:13] yozlam commented on #36
Problem Solved. :)

[2017-08-26 00:52] aalfiann commented on #35
Quota? My quota, server quota, or google quota? still i dont understand it.

I try to grab using demo >> [http://google.filedeo.com/embed.php?url=YTN5R0lmL1FVeG95MEVaOCtrUTNrZjErRDFVRGMwMERGaTAxVVFpNCtDYz0=](http://google.filedeo.com/embed.php?url=YTN5R0lmL1FVeG95MEVaOCtrUTNrZjErRDFVRGMwMERGaTAxVVFpNCtDYz0=), also shows blank or no playable sources found

[2017-08-26 01:54] aalfiann commented on #35
@Zebraslive Yes, multiple account maybe it helps.

In my opnion this is not about the quota, because if using link like https://r5---sn-npoe7n7y.c.drive.google.com/videoplayback?id=xxx, the movie is playing fine.

[2017-08-26 18:19] Zebraslive commented on #35
@aalfiann Your video works fine for my copy of the script. The reason it doesn't work on the demo one is because there is a problem with the last update when he added the encrypted url to the iframe and I don't think he noticed yet that it's broken. Just use the old version without encrypting the url. I think it was this commit https://github.com/ArdiArtani/Google-Drive-Player-Script/tree/c489ff82

[2017-08-26 21:26] MasterEGA commented on #35
mkv video format is not workking! this is just for mp4 :-(

[2017-08-27 01:06] threathgfx commented on #35
@MasterEGA convert it using handbrake or vlc

[2017-08-27 12:51] aalfiann commented on #35
Thanks.. @Zebraslive i've been take a look all history changes from commit and tried it one by one but still not fix my issue. Actually i've tried by using phpinit and i found function Drive("https://drive.google.com/file/d/0B9EbJgg4jRodMk5LU0Z6azJ0YkU/view") its return empty. so it's not related with encrypting url.

[2017-08-27 12:53] aalfiann commented on #35
@MasterEGA when you upload mkv file into google drive, it will be auto converted to mp4. i've so many video with format mkv in google drive and its running fine in jw player with type video/mp4.

[2017-08-27 17:21] dbr4389 commented on #35
do you have a paid plan?

[2017-08-27 21:04] Zebraslive commented on #35
@aalfiann Yea that's weird, it worked for my site the other day, now it's not working with ur link.  Wonder what could cause that to happen though....maybe it could happen at anytime with any url. I think i might make a fallback for when it fails to load, just output the preview link in an iframe https://drive.google.com/file/d/0B9EbJgg4jRodMk5LU0Z6azJ0YkU/preview

[2017-08-29 22:18] RiseCoder commented on #35
Drive + All Qualifications + Open Source + Magnificent Player System Only 100$

Demo: http://driver.rangeplayer.com/

User Name: admin
Password: demo

Skype: info@rangeplayer.com

[2017-08-30 01:36] TrevorCorey commented on #7
http://getlink.club is offering API for google drive videos that don't expire

[2017-08-30 20:02] dweapons commented on #35
Can anyone tell which script is used by below sites. they are using google drive to store and download and stream. i have found many sites are using same script.

topddl.net
acefile.co

when we open download link then first it copy that file to our google drive then it gives direct download link or stream. so we can hide actual google drive file.

[2017-08-30 20:57] bindepzai commented on #35
Demo: http://xemlaco.net/api/gdrive/play.php?url=https://drive.google.com/file/d/0B9EbJgg4jRodMk5LU0Z6azJ0YkU
Inbox me

[2017-08-30 21:34] milankragujevic commented on #35
@bindepzai You're proxying the stream, that's old news, and useless.

[2017-08-31 06:47] aalfiann commented on #35
@dweapons you can hide the actual direct link from google drive if using proxy.

@bindepzai i think using proxy is not the solution, because if the proxy is dead then the video link will die too.

[2017-09-01 06:15] ArdiArtani commented on #7
Hello guys,

Does anyone know about this [https://www.googleapis.com/drive/v3/files/0ByaRd0R0Qy.....](https://www.googleapis.com/drive/v3/files/0ByaRd0R0Qyatcmw2dVhQS0NDU0U?alt=media&key=AIzaSyAAleFWYIk-pDtW45MeIxl1S0f9DG7IuHc)

Let me know please.

[2017-09-01 06:33] ameno-gdrive commented on #7
Very interesting finding.  I've tried using that method on my own private videos for 10+ playbacks through embedding, and it still works.  Going to try this method on some high traffic to see if there is a hard quota.

What's crazy weird is that YOUR api_key works for fetching MY private videos -- wtf Google?

[2017-09-01 07:30] gnouv commented on #7
@ArdiArtani will be limited like Download Link

[2017-09-01 16:46] jhaylee2016 opened #37 "not a streamable links"
i mean this script does not provide redirector link...

[2017-09-01 19:34] RiseCoder commented on #37
Google Drive and Other Platform Player Api Service

Fast, secure, fixed price guarantee.

Supports: Google Drive, Google Photos, Youtube, Vimeo, Vid.me, Dropbox

Demo: http://www.playersapi.com

Our API currently costs roughly $1 per 1,000 requests. Requests for the same link within an day are not charged.

Skype : api@playersapi.com

[2017-09-01 19:34] RiseCoder commented on #31
Google Drive and Other Platform Player Api Service

Fast, secure, fixed price guarantee.

Supports: Google Drive, Google Photos, Youtube, Vimeo, Vid.me, Dropbox

Demo: http://www.playersapi.com

Our API currently costs roughly $1 per 1,000 requests. Requests for the same link within an day are not charged.

Skype : api@playersapi.com

[2017-09-01 19:34] RiseCoder commented on #7
Google Drive and Other Platform Player Api Service

Fast, secure, fixed price guarantee.

Supports: Google Drive, Google Photos, Youtube, Vimeo, Vid.me, Dropbox

Demo: http://www.playersapi.com

Our API currently costs roughly $1 per 1,000 requests. Requests for the same link within an day are not charged.

Skype : api@playersapi.com

[2017-09-01 19:34] RiseCoder commented on #35
Google Drive and Other Platform Player Api Service

Fast, secure, fixed price guarantee.

Supports: Google Drive, Google Photos, Youtube, Vimeo, Vid.me, Dropbox

Demo: http://www.playersapi.com

Our API currently costs roughly $1 per 1,000 requests. Requests for the same link within an day are not charged.

Skype : api@playersapi.com

[2017-09-01 20:02] jhaylee2016 commented on #37
@RiseCoder im sorry im not interested..by the way thanks for the offer...i already have those script except google drive...

[2017-09-01 21:46] Zebraslive commented on #31
You can also get the link like this
[code]
if you parse that script tag you can get this direct download link as well as thumbnail img and resolution urls but I can't figure out how to use them.
This link works tho. if it helps anyone....let me know if you figure out something.
https://video-downloads.googleusercontent.com/APJDyBp8tUscPtD6hcwp25UEI72orESaswUjbOGEPKiWqhTlgqlUEQtK3QLs-nv3keVvUNZ94y3

[2017-09-01 23:29] threathgfx commented on #31
@Zebraslive let me cheeck

[2017-09-02 00:28] threathgfx commented on #37
@jhaylee2016 this script is still inprogress.

[2017-09-02 15:48] Leonsss commented on #7
Guys what do u think about this link : https://storage.googleapis.com/testsssfs/New%20Folder%20diff/bnha%20s2/sub/bnha480p_21.mp4

[2017-09-02 16:13] milankragujevic commented on #7
How does that work, “

[2017-09-02 16:39] dweapons commented on #7
@Leonsss how you got this link?

[2017-09-02 16:41] dweapons commented on #7
@RiseCoder do not spam everywhere.

[2017-09-02 16:41] chopraaa commented on #7
@milankragujevic @dweapons https://cloud.google.com/storage/

[2017-09-02 17:03] ArdiArtani commented on #7
@ameno-gdrive Thats weird but it works only with mp4 file. Also does anyone know what's the daily download limit? I checked my api and yesterday I had 124 requests for the file I shared and it was still working.

[2017-09-02 17:51] milankragujevic commented on #7
@chopraaa I think this is a bad idea as it requires a credit card and its really easy to find out the owner of the content. Picasa is still best, or if you know how, Blogspot + Drive...

[2017-09-02 18:07] Leonsss commented on #7
I Found it in a website , here is the player code : httpS://animotube.net/time/d.php?l=a8KwYG1oNtAOl80yO7qSLmxYXdAsIe7ARjFJ83M8WI9B76XXe5grxcCYlTyFTeaycefy0-6AEZ4NVRxQA51-ITLguSXYu53wgOTTBc_dM30N7a9crCJbZItMrSiE57n7SNNF9nPQxyM0GVdjwYbnSAaDXveooAwVxLplMd99OtZevg8WF7wmepfLFl3jzaDI8epgh-snuqkaiYBBsW1zrwMV9oOdp2thdwG4Ouado2TGEESeL8QDmpJBLHV9gys6

[2017-09-02 18:12] Leonsss commented on #7
@milankragujevic Yes it requires a credit card like g-suite does ( that has unlimited storage ) but i think its more safe than google drive because the link doesn't have id only folder directories

[2017-09-02 20:09] chopraaa commented on #7
@milankragujevic I was only answering your question. You wanted to know how he got that link...

[2017-09-02 21:21] Zebraslive commented on #7
@Leonsss @dweapons you don't need a credit card. or billing enabled at all. You can get the free cloud bucket by setting up the php helloworld quickstart app engine in the Google Cloud Shell. I can post a short tutorial later today if I have time. it's only like 5gb or something but it's still free hosting for videos. I made this one a long time ago for testing the php app and it's still active. h

[2017-09-02 22:52] Zebraslive commented on #7
For those that need it.
https://console.cloud.google.com/appengine/start
start your first app and select PHP.
![](https://i.imgur.com/CTEC8M0.png)

after you select a location for your app you will see this
![](https://i.imgur.com/HQCIlZL.png)

click continue and make sure you have your project selected.

Then start the cloud shell
![](https://i.imgur.com/2txVM4o.png)

and follow the tutorial on t

[2017-09-03 03:43] aalfiann commented on #35
today, i got my video working fine. actualy i did not change any code. so i guess the problem is from google not in this script.

so this issues should be closed. thanks, this is an awesome script. this is really help me so much.

[2017-09-04 11:02] nik0s100 opened #38 "Link not working next day!"
I'm trying to watch a link I deleted cache and google.mp3 which I don't know why is there like a cookie.
But still not working. When I run this on localhost same link it works fine.

Link which doesn't work: https://cinemate.tv/Watch/F8b9J4vn2IvQKpFrJxe8pBc7yDnNe9cT

Drive link: https://drive.google.com/file/d/0B__9D-CNHa-leExmNVM0Wks0Y1U/view

[2017-09-04 11:16] Myllz commented on #38
You've reached google drive download limit.

[2017-09-04 11:17] nik0s100 commented on #38
I don't think so. It works fine on localhost

[2017-09-04 17:34] #32 closed

[2017-09-05 14:26] wteran commented on #38
have u tried using docs. instead of drive. that way uses it from a different server dedicated for groups and blogs.

[2017-09-05 18:49] Helpi95 commented on #7
And the question is: How will hide that URL to avoid the others sites to use and the most important, copyright...

[2017-09-05 19:35] nik0s100 commented on #38
No but I can't directly upload videos in there

[2017-09-05 20:42] ameno-gdrive commented on #7
Google Cloud Storage is nothing new.  It's been out for many years.  The real question is, how do you avoid paying the $80/TB fee?

It's actually the most expensive CDN on the planet.

[2017-09-07 18:35] Zebraslive commented on #38
Can anyone tell me what http code is returned when limit is reached? or is there anything on the page that it says like a specific message I can parse for detecting failure to load? I need to make a fallback script.

[2017-09-09 18:51] dweapons commented on #7
@Zebraslive can you tell me how can i remote upload file on storage.googleapis.com ? any options? or we can just upload from local storage only

[2017-09-11 06:22] dungvaph03374 commented on #38
if you're using jwplayer, use event error to gerenate new link

[2017-09-11 12:55] aalfiann commented on #38
Remember that google drive will allow to run playback for 1000 user watching. If more, you will get error failure.

[2017-09-11 13:35] dungvaph03374 commented on #38
@Zebraslive
`{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "downloadQuotaExceeded",
    "message": "The download quota for this file has been exceeded."
   }
  ],
  "code": 403,
  "message": "The download quota for this file has been exceeded."
 }
}`
@aalfiann just for sure, 1000 ip can request many time or just 1000 request per video, i'm making an anime site :)

[2017-09-12 06:59] aalfiann commented on #38
@dungvaph03374 Google Drive only limit request 1000 user watching at same time per video. Not from IP address.

[2017-09-12 08:10] #35 closed

[2017-09-13 17:52] mangemve1511 commented on #38
@ArdiArtani Hi, i use your script but some link have not sound when i play by Safari browser or mobile, although it's .mp4 file. Can you help me? Thank you!

[2017-09-15 03:57] ArdiArtani commented on #38
@mangemve1511 Can you share the link let me take a look

[2017-09-18 00:45] Zebraslive commented on #37
Anyone know what he google.mp3 is for? do i need it?

[2017-09-18 08:14] milankragujevic commented on #37
@Zebraslive It's cookie storage, you do need it.

[2017-09-19 08:35] aplusing opened #39 "I do not want the video to play automatically."
How i can fix?

[2017-09-19 17:39] monster1777 commented on #31
Now big streaming sites use links like this: https://storage.googleapis.com/visit-dupleplaycom.appspot.com/freemovies/cj7nax1bi0405n7sduxnd0s1v.mp4 how?

[2017-09-21 16:51] Leonsss commented on #39
at this code
`<script src="https://content.jwplatform.com/libraries/DbXZPMBQ.js"></script>
	<script type="text/javascript">
		jwplayer("myElement").setup({
			playlist: [{
				"sources":<?php echo $file?>
			}],
			allowfullscreen: true,
			width: '100%',
			aspectratio: '16:9',
		});
	</script>`

add this :  autostart: 'false'. The code will look like this:
`<script src="https://content.jwplatfor

[2017-09-21 20:42] mangemve1511 commented on #38
@ArdiArtani This link: [https://drive.google.com/file/d/0B0xiPwPds6wHMmZ6U2ZxZmNKQzg/view](https://drive.google.com/file/d/0B0xiPwPds6wHMmZ6U2ZxZmNKQzg/view)

[2017-09-22 16:29] ugurkorkmazyurek opened #40 "Direct link support pleas"
I want to play the video directly. Can you help ?

[2017-09-23 03:41] hklcf commented on #31
@monster1777 http://dupleplay.com/

[2017-09-23 08:39] threathgfx commented on #40
You mean like this?
[code]

[2017-09-23 12:25] ugurkorkmazyurek commented on #40
How is direct link support provided?

[2017-09-23 12:38] Zebraslive commented on #31
@monster1777 @hklcf Yes but that would mean that company is selling storage using google cloud and they wouldn't ignore dmca......... it can't be stable. Although it's a tempting price.

[2017-09-23 12:47] Zebraslive commented on #40
Sorry, can you be more specific? @ugurkorkmazyurek
It already gives direct link from drive function. You don't need to embed with iframe or use encrypted urls.
 This is one example how I use the script.
[code]

[2017-09-23 13:04] ugurkorkmazyurek commented on #40
Example (Google Drive Direct Link): http://www.ugurkorkmazyurek.com/d/s6s39zwghu6tpnxu.php?id=0B5zYKCowk_YpVi1MVVA1MkRkdHM

https://drive.google.com/file/d/0B30cNtbbmE30Yl9zRVktaE9ROUk/view

[2017-09-23 14:00] Zebraslive commented on #40
@ugurkorkmazyurek this downloads directly with the filename same as the videos.
[code]

[2017-09-23 15:54] #39 closed

[2017-09-23 15:55] ArdiArtani commented on #38
link is working

[2017-09-23 15:57] #24 closed

[2017-09-23 15:58] #25 closed

[2017-09-23 15:58] #20 closed

[2017-09-23 18:43] mangemve1511 commented on #38
@ArdiArtani Do you play in Safari browser or mobile?

[2017-09-23 22:25] ArdiArtani commented on #38
@mangemve1511 Google Chrome, Safari, Opera and Safari (iPhone 7). Clean your browser cache and the cached files in the cache folder.

[2017-09-24 07:47] christopher139 commented on #7
I see this site selling google drive script: https://apicodes.com/product/google-drive-player-script
Demo live look like fmovies or gostream are using. I can see Drive ID but I can't get it (maybe Private mode).

[2017-09-24 12:48] monster1777 commented on #31
The prices are reasonable given how much a video streaming site earns. I considered buying it, but I think I will just "borrow" the links from gomovies.

[2017-09-25 13:12] herudi commented on #7
Free and testing http://getvideodrive.com/

[2017-09-25 14:01] hklcf commented on #7
@herudi not working???

[2017-09-25 16:05] #38 closed

[2017-09-25 16:15] #29 closed

[2017-09-25 16:16] ArdiArtani commented on #37
Duplicate of #7

[2017-09-25 16:16] #37 closed

[2017-09-25 23:03] herudi commented on #7
@hklcf working for me http://lh3.getvideodrive.com/play?id=WCcLFDYNVzNeJRwPEwsIBUcAPw8wPUQrKjJYMDI1PxJFBwcYAExdSkdeVw8ACQVMTkcdEgoRGwEIDBRDQlYJDwUNCVBPRktLQwoRAw8SBBFQTxAbEgQTKQ==

[2017-09-26 00:08] Zebraslive commented on #7
@herudi How do u make this ? http://lh3.getvideodrive.com/videoplayback?id=ABEGBRdTSE4cQkhDShsLXwRQD1ASAEMXQARGAQAcEgxJBgEbAgICRgYdGEsfDgULGxUCBhEHExYPVg4FU01RWQJaARNBUVoCB11DB15BARETEllYX0cdGxAcBA1YBRAGDRUIGBFDHAIZEBsHARoUDVMNAB1BBQhPRlRPCg9TBwtDFlwDRQYKXhVHAwdYAB8dQx8DWRxBEQJJV1pBHBEeSBAbBg8dHQAAE04AG0gsGQkrORYXOSwiBF8ANSUgDRw/Ai0QTgEAHBIMDgVTRCcXBjoBQidUOB4AGhcIGVUMMxokN1kpJTtEMEgGGBVPEBwZCw4cE

[2017-09-29 08:30] aplusing opened #41 "How i can set cover image?"
i'm insert image below code but it's not show my image
How i can set cover image?
[code]

[2017-09-29 17:32] Zebraslive commented on #41
add this to the curl_gd.php file
[code]

Then you can call it like this
[code]

[2017-09-30 04:36] mirmarshall01 commented on #40
@Zebraslive : can you help create the download code with different resolution (multiple size download option)

The case is like this :
-  i have upload video with 1080p resolution
- i want to download the video file in 1080p/720p/480p/360p resolution

please help :D

[2017-09-30 04:37] milankragujevic commented on #40
@mirmarshall01 Yeah no, that is not possible.

[2017-09-30 08:08] mirmarshall01 opened #42 "How i can set subtitle for the video ?"

[2017-09-30 08:29] mirmarshall01 commented on #40
take a look on this website http://en.indoxxi.net/

that what i'm talking about :D

[2017-09-30 10:21] Zebraslive commented on #40
@mirmarshall01 The same dude already made this https://github.com/ArdiArtani/Photo-Google-Player-Script and it grabs all resolutions. Works perfectly. Hope it lasts.

[2017-09-30 17:49] Zebraslive commented on #7
I figured out how to hide source even more. https://jauntiest-ages.000webhostapp.com/v/embed.php?url=emhacnEyRy9jTXNJWjdzVWswVHYvbUw0R0N1c0pkNG1YY21pcm81YkJOdz0=
this way they can't see the doc.google url at all.

my fork https://github.com/Zebraslive/Google-Drive-Player-Script

But you should also be blocking the visitor based on referring domain or ip.

[2017-09-30 17:59] mirmarshall01 commented on #40
@Zebraslive but my file is in google drive, not in google photo

[2017-09-30 18:10] n6333373 commented on #7
@Zebraslive Not meaningful. People who know F12 could get the docid easily.

[2017-09-30 18:17] Zebraslive commented on #7
@n6333373 did you even look at the source? you can't see the direct video source urls...

[2017-09-30 18:26] n6333373 commented on #7
@Zebraslive Get ur idea.

[2017-10-02 07:44] viethqph00671 commented on #40
you can convert video resolution from hd to sd then upload to drive, in case you have unlimited storage and time, never have to worry about google change algorithm

[2017-10-02 12:27] aplusing commented on #41
@Zebraslive
i added your code to the curl_gd.php file.
i tried call code below to curl_gd.php or index.php but show cover image.
`$posterimg = PosterImg('https://drive.google.com/file/d/XXXXXXXXXXX/preview');`
you can teach me.?  ;_;

[2017-10-02 12:32] timekills commented on #41
`<script` type='text/javascript'>
    jwplayer("myElement").setup({
        "sources":[{
               <?php echo $file?>
			}],
	allowfullscreen: true,
        autostart: false,
// URL to the image that should be shown before the video is started
        image: "https://kawaiian.tv/program/nmb48-theater/img/cap_01.jpg",
        title: "Whatever",
        width: "100%",
        aspectratio: "16:9

[2017-10-02 15:23] viethqph00671 commented on #38
better use googleapis drive v3, easy & simple, no worry about link die

[2017-10-02 15:52] michellewuu69 commented on #27
this script is die?

[2017-10-02 17:07] Zebraslive commented on #41
@aplusing
Just echo out the img variable into the script.
[code]

[2017-10-02 19:08] Bluecozza commented on #41
This one should be worked:
<?php
if($_GET['url'] != ""){
	$subfject = $_GET['url'];
    if (strpos($subfject, 'drive.google.com/file/d/') !== false) {
    $pattern='/(?<=file\/d\/)(.*)(?=\/)/';
    $succefss = preg_match($pattern, $subfject, $maftch);
    $dbken = $maftch[0];
} else if (strpos($subfject, 'drive/v3/files') !== false) {
    $pattern = '/(?<=drive\/v3\/files\/)(.*)(?=\?alt)/';
     $

[2017-10-06 05:03] #41 closed

[2017-10-06 05:12] ArdiArtani commented on #36
#39

[2017-10-07 04:24] matamune1994 opened #43 "Hi . Some videos have no audio and video can fix pls ?"
EX : No have audio https://drive.google.com/file/d/0BxvQyG88Ppcdbkd0alZENVNJNmc/view?usp=sharing

No have video : https://drive.google.com/file/d/0ByaRd0R0Qyatcmw2dVhQS0NDU0U/view
can fix pls ?

[2017-10-07 04:34] matamune1994 commented on #7
@Zebraslive it't work with all video ? i mean Some videos have no audio and video . u can fixed ?

[2017-10-07 06:19] Zebraslive commented on #43
that's pretty weird.....Have you tried re-uploading it?
Not sure why it would do that. The audio one won't work at all. But this one works normaly for me https://jauntiest-ages.000webhostapp.com/drive/embed.php?id=https://drive.google.com/file/d/0ByaRd0R0Qyatcmw2dVhQS0NDU0U/view

[2017-10-08 00:30] yumedia opened #44 "Is this code stream still limit view ?"
Is this code stream still limit view guys ?

[2017-10-08 18:06] dungvaph03374 commented on #44
yes, the only way that i know bypass limit is using blogspot api but i can't even imagine how they do it

[2017-10-08 18:32] dungvaph03374 commented on #31
@monster1777 omg did you notice that the link you posted still working?

[2017-10-12 06:43] nsultaan opened #45 "PosterImg not show after embed video"

[2017-10-12 06:46] nsultaan commented on #45
please add image preview code in embed.php

[2017-10-12 12:50] Zebraslive commented on #45
It's already been added.

[2017-10-12 22:56] thekksed commented on #7
Anyone know any good gdrive video proxy scripts?
I tried this one: https://github.com/p4v800m/google-drive-proxy-jwplayer
But it doesn't seems to be working. Maybe some of you can help test it out, fix/improve it.

[2017-10-13 00:02] Zebraslive commented on #7
@thekksed Thanks for sharing! Works great.

[2017-10-13 00:52] ArdiArtani commented on #45
nsultaan@edecac3ad9902dac52de9d59ef97fdf4872da1c1

[2017-10-13 00:52] #45 closed

[2017-10-13 01:58] FloridaStream commented on #7
Get lh3 links from photos, with a normal account, after, move the file to teamdrive and make him private.
Gsuite accounts don't support Drive -> Photos, only Photos -> Drive.
U can use picasa api to get fast lh3 files, with `http://picasaweb.google.com/data/feed/back_compat/user/default?prettyprint=true&v=4&fd=shapes2&kind=photo&alt=rss&imgdl=1`

And look `<media:content url='https://lh3.googleuse

[2017-10-13 05:21] nsultaan commented on #45
Still Not Work

[2017-10-13 05:55] thekksed commented on #7
@Zebraslive Can you tell me your setup? Location of the server, nginx/apache + php version etc. Did your setup works with seeking, and on mobile?

[2017-10-13 07:16] Zebraslive commented on #7
@thekksed Yes seeking works and I haven't tested on mobile but I don't see why it wouldn't work.  What problems are you having exactly? I just made it output the sources in json so I can use them with videojs instead of the shitty jwplayer.
I set this up on a free webhost and it worked so it doesn't matter what setup you have as long as it's got the basics.

[2017-10-13 13:34] matamune1994 commented on #7
hi @Zebraslive please share code http://mizi.ml/app/embed2.php ? really good work sir

[2017-10-13 19:25] Zebraslive commented on #7
@matamune1994 https://github.com/Zebraslive/google-drive-proxy-jwplayer

[2017-10-14 02:12] thekksed commented on #7
@Zebraslive I couldn't get it working on a scaleway server. Tried nginx and apache2, don't know why... But I do get it working on free 000webhost. It seems the expire time is only 1 hour long, so we should reduce the cache to less than that.

[2017-10-14 03:13] Zebraslive commented on #7
@thekksed hmm...never tried scaleway but those prices look insanely good. Did you have ipv6 setup on your server when testing the script? I don't know if it will work with ipv4 only servers. That free host has ipv6 apparently.

[2017-10-14 06:19] thekksed commented on #7
@Zebraslive Still won't work with IPv6 on... I looked thru the apache error logs, showing HTTP/1.1 403 Forbidden. Maybe the server located in EU got something to do with it. I got a server in Canada that works on IPv4, but it won't seeking or very slow seeking. Don't know what 000webhost did differently...

[2017-10-14 12:56] FloridaStream commented on #7
Another ways, maybe is picker

`https://docs.google.com/picker?protocol=gadgets&hostId=yt-upload-importer&hl=pt_BR&title&actions=picked,cancel,loaded,received,viewContentRendered&mineOnly=true&multiselectEnabled=true&shadeDialog=true&horizNav=true&maxItems=300&nav=((%22photos%22,%22Todos+os+v%5Cu00eddeos%22,%7B%22type%22:%22videos-uploaded%22,%22svm%22:true,%22rdv%22:true%7D),(%22photos%22,%22Back

[2017-10-15 01:19] #44 closed

[2017-10-16 04:41] adeadw opened #46 "Is it possible to set the resolution?"
heloo,, firstly i can't thank you more for creating this helpful google drive link generator.

i saw on one of indonesian streaming sites (lk**.co) they've just successfully make new drive generator link with new method which makes visitor to choose which resolution they want to use.. but, the resolution is chosen not inside the player,, i guess and maybe they play with the parameter.

i compare t

[2017-10-16 05:34] aalfiann commented on #31
unfortunately, i've been make a test using google photos, link share is working on the past, but after few days, the source video got http status 429 or limited.

[2017-10-16 08:21] dungvaph03374 commented on #31
better use facebook bro!
remote upload via api, public link anyone can view, no limit, is there anywhere to host your video better than facebook?

[2017-10-17 21:12] d4lv commented on #7
how to make the script to work like domain.com/drive.php?link=googledrivelink and is anychance to add the hd button??

[2017-10-17 21:15] dbr4389 commented on #46
No, you can't this script streams from the download link.

[2017-10-19 10:23] dungvaph03374 commented on #46
Sure you can by using get_video_info
Drive link requried cookie DRIVE_STREAM, without it you can't access the link

[2017-10-26 20:02] mocophat commented on #45
@nsultaan
Replace embed.php with this

`<?php
error_reporting(0);
include "curl_gd.php";

if($_GET['url'] != ""){
	$gid = $_GET['url'];
	$original_id = my_simple_crypt($gid, 'd');
	$title = fetch_value(file_get_contents_curl('https://drive.google.com/get_video_info?docid='.$original_id), "title=", "&");
	$url = 'https://drive.google.com/file/d/'.$original_id.'/view';
	$linkdown = Drive($url);
	$fi

[2017-10-30 13:16] khalisafkari commented on #31
@Zebraslive error get data

`<?php

$file = file_get_contents('https://photos.google.com/share/AF1QipMTEPAiVF8t0YqLukflnOSQjwfd8ARIoT2h37AXvYO1uaWodbeiFoBUDuD_19tEbg/photo/AF1QipPA2Bq0JlAR9LoGD3mogsxSb9OZWEG4XqBDD4Rv?key=cjhUT0xrZjM5NGN2SVRLOVptZU5SMUlKV0lQYWpB');

$dom = new DOMDocument();
@$dom->loadHTML($file);
$count = 0;

foreach($dom->getElementsByTagName('script') as $js) {

    if ($count

[2017-10-31 06:43] karimrafique commented on #31
Great post.
<a href="http://www.apkstub.com/2017/10/google-drive.html">Google drive</a>

[2017-11-01 12:27] haxunivil commented on #31
[Sell] New Method to stream google drive videos for $100

Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google’s Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite

[2017-11-01 12:28] haxunivil commented on #46
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google’s Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

Buy Google Drive Stream Links Script and TEST

[2017-11-01 12:28] haxunivil commented on #43
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google’s Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

Buy Google Drive Stream Links Script and TEST

[2017-11-01 12:28] haxunivil commented on #40
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google’s Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

Buy Google Drive Stream Links Script and TEST

[2017-11-01 12:28] haxunivil commented on #27
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google’s Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

Buy Google Drive Stream Links Script and TEST

[2017-11-01 12:31] haxunivil opened #47 "[Sell] New Method to stream google drive videos"
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google’s Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

Buy Google Drive Stream Links Script and TEST

[2017-11-01 20:50] driveapi3 opened #48 "[New Method] Google Drive Stream Links Script"
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google’s Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

Test and download it on:
http://google.drivepl

[2017-11-01 20:56] Zebraslive commented on #48
Does this look like a marketplace to you? fuck off with the spam. No one is going to use that shit when we have many open source alternatives.

[2017-11-02 06:40] japnimedev commented on #7
I kinda played with the codes from @p4v800m (which he deleted his comments)
Kinda check it out. (Of course, just a beta test)

https://github.com/japnimedev/Google-Drive-Stream-Proxy

[2017-11-02 23:05] japnimedev commented on #48
Kinda close this one since I think no one is interested.

[2017-11-03 06:49] maruno32 opened #49 "[Selling] Google Drive Stream Links Script PHP Direct Links Amazing!!!"
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google’s Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

Next updates always free for who has script al

[2017-11-03 13:38] japnimedev commented on #49
Kinda close this, since no one is interested.

[2017-11-05 09:41] aalfiann commented on #49
Why I'm not interested? Because if using google drive API, it will working only your video in google drive account, I do use this script because i want to steal other google drive video, it will waste time if I must added video to my google drive and waiting google drive to process converting video. Correct me if I'm wrong.

[2017-11-05 09:49] aalfiann commented on #46
I have that script, but it need a proxy server to forwarded_for. The disadvantage using proxy is, if your proxy server down, video will error and need a cost to have your own proxy server.

[2017-11-05 18:55] dungvaph03374 commented on #46
@aalfiann i did once but it slow as hell, basically i just used get_video_info and stream it via PHP

[2017-11-06 18:27] voirvf commented on #31
Regarder Et Telecharger Des Films Online Gratuit sur VoirVF.com

http://voirvf.com
Le Meilleur Site Pour Regarder Gratuitement un maximum de film en streaming Complet sur VoirVf.Com

https://youtu.be/fctO2Pf9qsM

[2017-11-06 19:04] mangemve1511 commented on #42
Hi @ArdiArtani, can you write func add link subtitle? Thanks so much!

[2017-11-07 15:56] hasse112 commented on #7
I see that it is possible to get hl3.googleusercontent.com when posting a video on google plus. But you have to post it by clicking "add photos" and then you can either upload a file (max 1GB) or select a file from Google Drive.
The issue is that it only displays files you own, NOT files that are shared with you.
Do anyone know of a way to post directly embed Google Drive files that you don't own

[2017-11-07 17:08] aalfiann commented on #46
@dungvaph03374 yeah i know, i also have that proxy that stream using DRIVE_STREAM, the speed is very slow also it create so many log. Have you check the log from that script in your server?

[2017-11-07 17:53] ueja32 opened #50 "[SELL] Google Drive Direct Videos NEW METHOD"
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google's Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

DEMO AND MORE INFO: https://google.driveplayer

[2017-11-07 17:54] ueja32 commented on #46
[SELL] Google Drive Direct Links NEW METHOD!!!!
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google's Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

[2017-11-07 17:54] ueja32 commented on #31
[SELL] Google Drive Direct Links NEW METHOD!!!!
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google's Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

[2017-11-07 23:00] imranmurtaza001 commented on #50
100$ price is high..

[2017-11-08 00:33] Zebraslive commented on #50
I had several of his last accounts deleted because of spamming. Just report the post, his account will be closed within 24hrs. https://github.com/contact/report-abuse

[2017-11-08 18:11] ueja32 commented on #50
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google's Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

DEMO AND MORE INFO: https://google.driveplayer

[2017-11-08 22:17] nedaxe opened #51 "Free Google Drive Player"
The fastest and simple way to play your Google Drive files on your website.
APIGD.com is a free web service to get google stream links and play. You just need to write your google drive file URL below form. You can also add subtitle if you need.

Website: https://apigd.com/

[2017-11-08 22:51] yimu2 opened #52 "Free Google Drive Player"
ADMIN ***DELETED***

[2017-11-08 22:54] #52 closed

[2017-11-09 05:20] vixape opened #53 "Free Google Drive Player Script (ADMIN: FRAUD)"
ADMIN: FRAUD

[2017-11-09 19:29] Zebraslive commented on #53
Dur....It's not safe to use 3rd party api.
Build your own, host it yourself, no chance of malicious redirects or downtime.
someone report this post....I'm tired of doing it.

[2017-11-09 21:07] vixape commented on #53
Zebraslive, you fucking an idiot =)

[2017-11-09 21:55] Zebraslive commented on #53
@vixape Right back at cha bitch.
Stop spamming your bullshit and find real work.

[2017-11-10 22:45] EXAlejandro opened #54 "Attention - Google.driveplayer.stream Fraud"
Attention - Google.driveplayer.stream and ApiGd.com Fraud

Definitely do not pay.

There is no code to give you. It's a complete fraud.

[2017-11-11 09:23] dungvaph03374 commented on #54
You bought a script through bitcoin and didn't see that coming, sr for you lost :-1:

[2017-11-11 11:40] dungvaph03374 commented on #54
Easy as fuck and nobody think about, wth, build a goddamn extension to sync cookie DRIVE_STREAM

![untitled](https://user-images.githubusercontent.com/9255898/32689078-bafb26fe-c70f-11e7-8b64-3a834a535f76.png)

[2017-11-11 11:59] wuhad commented on #54
already have full source code. I paid 3 days ago
If somebody need google drive player i sell it for 80$.
I can show demo with your links.

Contact me by mail: ismail92@gmail.com

[2017-11-11 14:00] japnimedev commented on #54
@dungvaph03374 Inserting cookie thru php doesn't work anymore?

[2017-11-12 14:39] #53 closed

[2017-11-12 14:39] #54 closed

[2017-11-12 14:39] ArdiArtani commented on #46
#7

[2017-11-12 14:39] #46 closed

[2017-11-15 14:16] tibah45 opened #55 "[SELL GOOGLE DRIVE PLAYER] NEW lh3 Method !!!!!"
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google's Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

Next updates always free for who has script al

[2017-11-16 08:42] EXAlejandro commented on #55
Attention is a fraud. Definitely do not pay.

He did not get tired of doing commercials here.

[2017-11-16 09:50] japnimedev commented on #55
@EXAlejandro dont worry my friend, i've submitted a complaint for this domain. :)

![screenshot_32](https://user-images.githubusercontent.com/29234610/32884837-9bf7d5b4-caf6-11e7-8c09-831f384968de.jpg)

[2017-11-17 18:38] xapama opened #56 "[Sell] www.driveplayer.stream New Method to stream google drive videos"
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google's Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

MORE INFO:
https://google.driveplayer.stream/

[2017-11-18 03:57] EXAlejandro commented on #56
Are you stupid? You're not tired of writing here?

Scams are ...

[2017-11-21 21:11] gruntduck commented on #54
Oh, my God, they eat my 100$ this site is a froud=> Google.driveplayer.stream
he is a Fraud pls check the video
https://www.youtube.com/watch?v=iSNL3mZu7uE

[2017-11-22 14:29] poeaz opened #57 "Sell Google Drive LH3 METHOD 360P 480P 720P 1080P"
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google's Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

MORE INFO AND TEST ON: https://google.drivepla

[2017-11-22 14:34] ArdiArtani commented on #57
FRAUD!!!!!!!!!!

[2017-11-22 14:34] #57 closed

[2017-11-22 14:40] poeaz opened #58 "[PHP] Sell Google Drive LH3 METHOD 360P 480P 720P 1080P"
Simple and reliable script for generating HTML5 video streaming links from Google Drive files.
it's not a proxy script, provide links direct to Google's Video CDN
Easy Installation, You just need PHP hosting and Google Cloud PHP App account thats all, now you are ready to fly.
It's work with all public google drive videos on free and gsuite accounts.

MORE INFO AND TEST ON: https://google.drivepla

[2017-11-22 14:42] ArdiArtani commented on #58
FRAUDDD!!!

[2017-11-22 14:42] #58 closed

[2017-11-22 14:42] poeaz commented on #57
You dont have money to buy it and you dont know how this method is working its easy to say FRAUD LOL!!

[2017-11-22 14:47] ArdiArtani commented on #57
When you have proof of course it's easy to say FRAUD! [https://www.youtube.com/watch?v=iSNL3mZu7uE](https://www.youtube.com/watch?v=iSNL3mZu7uE)

[2017-11-22 14:47] bitchardi commented on #57
ArdiArtani get some money and learn how get links on google drive

[2017-11-24 01:15] CB49 commented on #31
I felt like contributing to this, but I don't know if this was already known. What I found was that `1.bp` and `2.bp` work, along with `lh3` through `lh6`.

Another interesting thing to note is that if you change the very last part of it, the `m[number]` part of it to `m15`, it gives you another image file displaying an error or something. It's longer and still works the same, just after changing

[2017-11-26 19:00] aalfiann opened #59 "Sometimes we can't get the drive link (the function Drive($link) is return empty)"
I just applied this script in my production web movie, and sometimes we can't get the drive link..

This is only happen for a few users only.

The solution i've made this far is create the auto switch to redirect to google drive link..

But I just want to know why this could happen? so i can fix it.

Thanks

[2017-11-26 19:36] Zebraslive commented on #59
what does the error log say for when the video doesn't load? I've never seen this myself.
so far only errors I've seen
failed to open stream: php_network_getaddresses: getaddrinfo failed Name or service not known
SSL: Handshake timed out
failed to open stream: HTTP request failed! HTTP/1.0 403 Forbidden
failed to open stream: operation failed

[2017-11-28 13:49] zeydhan commented on #31
Hello, if you're looking for gdrive player that return lh3.googleusercontents link, please go to : www.gdriveplayer.us

plugin and API documentation is available there

Basically, here's how to use : http://gdriveplayer.us/embed2.php?link={insert link drive here}

Good luck

[2017-11-28 13:51] zeydhan commented on #7
Hello, if you're looking for gdrive player that return lh3.googleusercontents link, please go to : www.gdriveplayer.us

plugin and API documentation is available there

Basically, here's how to use : http://gdriveplayer.us/embed2.php?link={insert link drive here}

Good luck

[2017-11-28 13:52] zeydhan commented on #40
Hello, if you're looking for gdrive player that return lh3.googleusercontents link, please go to : www.gdriveplayer.us

plugin and API documentation is available there

Basically, here's how to use : http://gdriveplayer.us/embed2.php?link={insert link drive here}

Good luck

[2017-11-28 13:52] zeydhan commented on #27
Hello, if you're looking for gdrive player that return lh3.googleusercontents link, please go to : www.gdriveplayer.us

plugin and API documentation is available there

Basically, here's how to use : http://gdriveplayer.us/embed2.php?link={insert link drive here}

Good luck

[2017-11-28 13:52] zeydhan commented on #43
Hello, if you're looking for gdrive player that return lh3.googleusercontents link, please go to : www.gdriveplayer.us

plugin and API documentation is available there

Basically, here's how to use : http://gdriveplayer.us/embed2.php?link={insert link drive here}

Good luck

[2017-11-28 15:27] dungvaph03374 commented on #59
there are plenty of reason so can't figure it out without log, you can listen on error then load the drive api v3 instead https://www.googleapis.com/drive/v3/files/drive_id?alt=media&key=app_key

[2017-11-29 08:53] sergeyhartmann commented on #59
@aalfiann
the same library, but using guzzlehttp https://github.com/sergeyhartmann/streaming-link-generator

[2017-12-01 22:23] EXAlejandro opened #60 "LH3 Type Error - Getlink.club,Playersapi.com - The rate limit for this service has been exceeded."
The last few days I use these services.

I get the following error.

429 - The rate limit has been exceeded.

Have you resolved this method? Also, when we upload the drive video, it takes too long to process.

[2017-12-02 04:05] FloridaStream commented on #60
rate limit, u cant bypass google rate limit.

can you send some links that are with this problem?

Playersapi.com is using a Getlink.club API, Getlink is original.

I'm trying to figure out some way similar to what Getlink uses, but it's not easy, I'd only use it for personal funs, unfortunately no one who knows how Getlink works is interested in sharing that information.

Apparently this is a lim

[2017-12-02 18:46] EXAlejandro commented on #60
Playersapi.com does not use getlink.club service.

I witnessed it. Outputs are different for the same video. However, currently, 2 sites do not work well.

Yes, unfortunately, nobody is sharing anything about it.

[2017-12-03 11:51] spunszor opened #61 "Google Photo link dies after a short time"
The first time it works great but after a short time the link just shows a symbol.
URL: [https://lh3.googleusercontent.com/nJ10CRlsooFwKUz6bl7BhoOmX8Upnu0IJjTWFmx26SoXZvm6fE7YwcPycwzZfnSTLpeBSXgrZLzJpVNK-QyXIioDhOAl9g3ZF4YT0Euw8t4LsV1eqwjAAVe3D8D88Dr91nMvhPOg4A=m18](https://lh3.googleusercontent.com/nJ10CRlsooFwKUz6bl7BhoOmX8Upnu0IJjTWFmx26SoXZvm6fE7YwcPycwzZfnSTLpeBSXgrZLzJpVNK-QyXIioDhOAl9g3ZF4Y

[2017-12-03 21:14] EXAlejandro commented on #60
I have new news.

I can produce output like Getlink and Playersapi brother. But the link does not work at the end when I add m18.

But the link that this link leads is very similar.

https://lh3.google.com/u/0/d/1atq7hu6y8rl5kfzdeyj1_jldarycpxhq

Redirect:

https://lh3.googleusercontent.com/lh_hkaf1bfr3nl8heiuvınqpz4lbsırbclluwgraoukohcphsj6n_xtps7wwa-rkfeyfb_mg3x5d8t4hpcaje5tsevd_pauamqkuy8iddlfr

[2017-12-04 03:08] japnimedev commented on #60
@EXAlejandro the method of others are just retrying to refresh it until it plays.
reference: `kissanime.ru`

[2017-12-04 03:10] japnimedev commented on #61
@SpencerSmithHU try to use google plus, here's my beta script `https://github.com/japnimedev/Google-Plus-Stream`

[2017-12-04 03:32] EXAlejandro commented on #60
@japnimedev So we can not produce a solution in this matter?

There is also a pointless point.  For almost six months, even a person could not figure it out.

[2017-12-04 03:52] FloridaStream commented on #60
@EXAlejandro sorry, I do not know the information needed, it was the CEO of the getlink who informed me this, I do not know about the truth, I just thought it was relevant for you to know that.

As for lh3.google.com I was already aware of this, may not result in functional links with the m18, m22.

I did some research and discovered a google cloud bigquery relationship with google drive, but I co

[2017-12-04 03:55] EXAlejandro commented on #60
@FloridaStream I am a member of Google Cloud Premium. If you reach me, maybe we can do something.

Please send mail for ericcancelwork@gmail.com

[2017-12-04 06:50] crews1515 commented on #60
Hello I'm looking to generate google drive links in lh3, I'm new to this area, and I think they should be using google picker api, well that's what I discovered, are they using this api?

[2017-12-04 10:54] japnimedev commented on #60
@crews1515 further explanation of that api

[2017-12-04 15:03] #43 closed

[2017-12-04 15:04] #40 closed

[2017-12-04 15:06] ArdiArtani commented on #42
@mirmarshall01 @mangemve1511 [https://support.jwplayer.com/customer/portal/articles/1407438](https://support.jwplayer.com/customer/portal/articles/1407438)

[2017-12-04 15:06] #42 closed

[2017-12-04 15:14] #34 closed

[2017-12-04 16:22] CB49 commented on #17
except they have. refer to youtube-dl. its public

[2017-12-04 17:59] crews1515 commented on #60
@japnimedev
this api generates an alternative link from googe drive videos to picasaweb (google photos), this api requires authentication with google api.

[2017-12-04 23:47] japnimedev commented on #60
@crews1515 is there like a sequence pattern to login automatically?

[2017-12-05 00:19] crews1515 commented on #60
@japnimedev I still have not tried to see if I could generate the link without showing the google authentication tab, but I'll take a look at it because I'm still starting on it.

[2017-12-06 05:15] FloridaStream commented on #60
@crews1515 i tryed picker **POST**, but don't get any _dada_ of drive id, I do not believe in the picker.

[2017-12-07 00:52] crews1515 commented on #60
@FloridaStream but the google cloud needs a signature that may be a risk for those who use the same to host movies, compared to the google picker I'm trying to get a way to use without the picker, but it's a bit difficult if you have news regarding I'll post here if it does not work with google picker I'll try another form to be able to generate google drive lh3 links.

[2017-12-07 08:21] SpencerSmithHU commented on #61
@japnimedev. The problem still exists with your Google Plus script.

[2017-12-08 05:51] FloridaStream commented on #60
@crews1515 no google cloud storage, is **google cloud bigquery**. u can query gdrive files... :)

[2017-12-08 10:27] skthanu opened #62 "Subtitle For Video Doesn't Work"
Hello, I don't know why but I added sub for my video on Google Drive, if i watch it from original link, its ok, but with this one, i can not see sub, can you please tell me how can i add sub for this?

[2017-12-08 20:54] crews1515 commented on #60
@FloridaStream I did not know this google cloud I'm going to take a look at it to see how it works, more news regarding there is generate urls of gdrive in lh3 I put here for you.

[2017-12-08 22:14] EXAlejandro commented on #60
http://www.playersapi.com This site has found a new solution.

Do you have any testers?

[2017-12-09 03:57] crews1515 commented on #60
@EXAlejandro they are using the google drive files with the youtube player and re-embed with jw player.

[2017-12-09 05:10] FloridaStream commented on #60
@crews1515 yes.
@EXAlejandro see

`http://www.playersapi.com/` embed >`http://www.playersapi.com/drive_demo/index.php?link=https://drive.google.com/file/d/0By0yjKGPm8CLMm5qT2diZUZxNjQ/view`

and final link is:
`https://docs.google.com/get_video_info?docid=0By0yjKGPm8CLMm5qT2diZUZxNjQ&authuser=2&eurl=https%3A%2F%2Fwww.youtube.com%2Fembed%252F%3Fstatus%3Dok%26allow_embed%3D1%26controls%3D0%26ps%3Ddo

[2017-12-09 06:07] crews1515 commented on #60
@FloridaStream yes, it is difficult to find a way to generate the links in lh3 of google drive, I am also continually looking for how to get these links, because with google picker the file picker is hindering progress, but I will continue studying this and more news I'll post it here, stay tuned.

[2017-12-10 13:18] IZ44KPvP opened #63 "Quality Changer"
You can add this feature?

[2017-12-13 07:11] dungvaph03374 commented on #63
this is simple a download script which mean no playback, impossible task

[2017-12-13 13:13] IZ44KPvP commented on #63
Ok,  thanks

[2017-12-13 13:14] #63 closed

[2017-12-18 14:24] anhnvme opened #64 "How can i get 360p link"
Hello,

at demo i see it only can grab HD link, so how can i get 360p link, 720p link, 1080p link ?

Thanks you

[2017-12-20 13:50] FloridaStream commented on #64
https://github.com/ArdiArtani/Google-Drive-Player-Script/issues/63

[2017-12-20 14:07] anhnvme commented on #64
thanks

[2017-12-20 14:07] #64 closed

[2017-12-21 15:16] FloridaStream commented on #60
https://www.getlink.club (getlink.club) stopped working. maybe google has discovered, an open site like this is conducive to this. unfortunately it may be over, it was good while it lasted. :(
[code]
😢  😭

@EXAlejandro @crews1515 @japnimedev

[2017-12-22 08:37] chopraaa commented on #60
I'll make my proxy script open source as soon as I get back. There are a bunch of limitations but hopefully some node contributors should be able to help with them.

There's a way to stream downloads directly using the API https://developers.google.com/drive/v3/web/manage-downloads. I've managed to test streaming with one video but never really made it into a full-fledged script due to time constr

[2017-12-22 10:24] dbr4389 commented on #60
You can generate temporary download links with the API.

Here's an example link:
`https://www.googleapis.com/drive/v3/files/1ozdZswDsWdkTDbaLoqxD4ZMLBjhtzc4p?access_token=ya29.GlspBTHACOs43WSUtWyp61q0Usl3Kdzf2GqZ-Z0tQf4xxhX2PVbuxyH6AvluVZRKhsFfMP2_ZyhipgvTb_oBlJ66Gpmu7RI_UMPN5d03Ttwjv-7dL7-bpPX5aWwi&alt=media`

Format:

`https://www.googleapis.com/drive/v3/files/[DRIVE ID]?access_token=[ACCESS TOK

[2017-12-22 14:53] japnimedev commented on #60
@dbr4389 this error
`{"error":{"errors":[{"domain":"global","reason":"lockedDomainExpired","message":"Locked Domain Expired"}],"code":401,"message":"Locked Domain Expired"}}`
makes you think it may handle something :3

[2017-12-22 14:58] japnimedev commented on #60
@FloridaStream it still works tho
![untitled](https://user-images.githubusercontent.com/29234610/34302379-874fbb68-e76b-11e7-8158-5d616cc775c3.png)

[2017-12-22 19:19] dbr4389 commented on #60
@japnimedev That's because the access token expired.

[2017-12-22 21:00] FloridaStream commented on #60
@dbr4389 dont bypass download limit. I try some days ago. U cant try, and u will see.

[2017-12-22 23:05] dbr4389 commented on #60
@FloridaStream Have you tried it with private not shared files? that's how xmovies8 is doing it.

[2017-12-22 23:24] FloridaStream commented on #60
@dbr4389
you can not go over a file with quota burst, but it is possible as you said, that does not consume the quota of a file. I tried with a file from someone else, downloaded 430GB and the file remained normal.
:)

[2017-12-23 11:18] japnimedev commented on #60
@dbr4389 I meant there that it may have a chance to stream links normally :3

[2017-12-23 11:18] japnimedev commented on #60
@FloridaStream so it works with a private thing?

[2017-12-23 15:27] FloridaStream commented on #60
@japnimedev yes, but you need to be the owner of the files, it will not work with other people's private files.
if google finds out, you'll probably find out, they'll fall for it, you get it, right?

[2017-12-27 04:04] japnimedev commented on #60
I have a noob question, how can you use the ipv6 of the hosting provider since I'd like to make the `&ip=` seen as the mac address itself

@FloridaStream @crews1515 @dbr4389

[2017-12-27 08:36] chopraaa commented on #60
@japnimedev IPv6 address != MAC address.

[2017-12-27 11:55] japnimedev commented on #60
@chopraaa I mean, how could I use that instead of using the ipv4

[2017-12-28 04:28] hklcf commented on #60
@EXAlejandro youtube embed only

[2017-12-28 06:49] crews1515 commented on #60
@japnimedev if you are using a vps server and the generated links are by the server and not by the user, the ip will already be in ipv6.

[2017-12-28 21:31] chopraaa commented on #60
@crews1515 LOL.

[2017-12-28 22:16] FloridaStream commented on #60
https://getlink.club/ **down**.

[2018-01-02 13:29] xtubeid commented on #60
u can xtubeid.com ..

[2018-01-02 18:00] EXAlejandro commented on #60
@xtubeid  I did not see the demo. also very simple site.

[2018-01-02 19:16] FloridaStream commented on #60
yes @EXAlejandro
i dont trust on xtubeid.com @xtubeid
@ArdiArtani please check this ads. it does not help at all

maybe the getlink.club has stopped working, or has suffered with the weight of google, this is the kind of thing that is not sold, when possible is passed on to other people in silence.

**I still continue to search how to generate the links lh3 of the drive, but without news.**

[2018-01-04 07:43] aalfiann commented on #62
@skthanu Subtitle is client side in JWPlayer. You can just add it directly in the player.

[2018-01-06 04:25] ranmeo commented on #7
hello guys, feel free to check this link

https://hentaikimochi.com/play/drive.php?id=[drive id]

anyone knows how to grab link like this?

[2018-01-06 05:54] p4v800m commented on #7
we do not offer support without a $ 10 fee

paypal: ruan_cabral7@hotmail.com

________________________________
De: ranmeo <notifications@github.com>
Enviado: sábado, 6 de janeiro de 2018 02:25
Para: ArdiArtani/Google-Drive-Player-Script
Cc: p4v800m; Mention
Assunto: Re: [ArdiArtani/Google-Drive-Player-Script] 403 Error (#7)

hello guys, feel free to check this link

https://hentaikimochi.com/play/

[2018-01-06 22:24] heustr opened #65 "thanks you bro Google Drive Player Script <3"
thanks you bro Google Drive Player Script <3

[2018-01-09 02:32] FloridaStream commented on #7
@ranmeo this site use youtube embed code for drive video, sample:

https://youtube.googleapis.com/embed%2F?&autoplay=0&partnerid=30&html5=1&controls=1&showinfo=0&rel=0&modestbranding=0&playsinline=1&ps=docs&enablejsapi=1&widgetid=1google-drive-api/&docid=**19OWPDKRkPUZoAzy4zt2Iv_u61BlKkm_u**

work direct on url, u need to embed, u can search on google about it to do yourself, never pay for this, u

[2018-01-23 19:19] d4lv commented on #7
the youtube.googleapis.com is not working anymore :/

[2018-01-25 13:03] den121 opened #66 "508"
demo 508

[2018-01-26 22:09] kur2duo opened #67 "How To add Quality ?"
please create quality selector, thanks

[2018-01-27 06:40] chopraaa opened #68 "New proxy script looking for a code review."
I uploaded my streaming script and looking for testers and reviewers. Post an issue in that repository itself.

https://github.com/chopraaa/video-stream-api

Cheers.

[2018-01-31 05:03] FloridaStream commented on #68
proxy is bad, because use views quote.... but, whateve...

[2018-01-31 05:42] Leo01985 commented on #62
how add directly in the player? is not posible to upload or add some link?

[2018-01-31 05:47] Leo01985 opened #69 "how upload subtitles?"
is posible upload button for subtitles or add subtitles from link?

[2018-01-31 08:52] chopraaa commented on #68
@FloridaStream Do you have an alternative?

[2018-02-01 13:27] togetherguan commented on #31
Hi,for who need create video streaming link like this add my wechat,yaukimguan0219

Link Example
https://lh3.googleusercontent.com/cJJ6BrhYJaxMfRtwSRiBXYSBWgTyPkFbkJGf7bGJAZZt4WQR5r7MxhE-fzvxQbcKqLIXJEV_EhlDIw=m22?cpn=pLI5algSL5q1tVSp&c=WEB_EMBEDDED_PLAYER&cver=20180104.mp4

[2018-02-01 22:02] CB49 commented on #31
@togetherguan did u copy that link from somewhere else, or do u not understand how googleusercontent links work? cause half of that link is unneeded

[2018-02-10 11:07] FloridaStream commented on #68
nops

[2018-02-10 13:50] #65 closed

[2018-02-10 13:51] #66 closed

[2018-02-12 20:23] zeydhan2 commented on #59
Hello, the reason is because your google drive link being limited (24 hours limit exceed) so the download link cannot be generated. I have an alternative, you can use player such as www.gdriveplayer.us to bypass this limitation

[2018-02-15 01:43] aplusing opened #70 "Adsense on player?"
I can use adsense on player script?

[2018-02-15 02:13] Zebraslive commented on #70
Would probably be against terms to use on video player overlay. But maybe it will be fine as long as the referrer is faked or the video is not copyrighted.

[2018-02-15 07:08] zeydhan2 commented on #7
Hello, the sometime the script cannot output the direct link, its because the files is being limited? Anyone can solve this problem? Anyone know how to bypass this? Some site like gdriveplayer.us can bypass it, i wonder how to do so, please contact me, i will buy your script

[2018-02-15 17:38] red101202 commented on #7
contact on live:reddeye111

[2018-02-15 17:38] red101202 commented on #7
contact Skype : live:reddeye111

[2018-02-19 14:55] d4lv commented on #7
the script with this source video is not working https://drive.google.com/file/d/0B7EQbUb9-TFbb2hQZWttYTVWT2c/view is mp4 but 960 x 728‬ pixel why?? how to fix this??

[2018-02-19 17:43] raiweb opened #71 "Quality"
@ArdiArtani Great work, i think that need only button to select Quality.

[2018-03-01 13:28] pathboot opened #72 "Adding a poster"
hello

please how we can add a poster please !

its possible ?

[2018-03-01 19:34] DinoDabs commented on #72
use the PosterImg function.
echo PosterImg("driveurl");

[2018-03-03 18:10] pathboot commented on #72
please can you explaint how i can use it ? i see
                $backup = 'https://drive.google.com/file/d/'.$gid.'/preview';
		$posterimg = PosterImg($backup);

but not working

[2018-03-04 20:05] mangemve1511 commented on #72
@pathboot Can you show scripts?

[2018-03-08 20:39] danhbinhyen opened #73 "Help.... How To add Subtitles???? T_T"

[2018-03-09 01:09] Love656 commented on #73
you use videojs or jwplayer?

[2018-03-09 04:17] danhbinhyen commented on #73
I use this https://github.com/ArdiArtani/Google-Drive-Player-Script

[2018-03-09 06:58] danhbinhyen commented on #73
please Help.....

[2018-03-09 08:04] mangemve1511 commented on #73
var playerInstance = jwplayer("myElement")
playerInstance.setup({
    playlist: [{
        file: "/assets/sintel.mp4",
        image: "/assets/sintel.jpg",
        tracks: [{
            file: "/assets/captions-en.vtt",
            label: "English",
            kind: "captions",
            "default": true
        },{
            file: "/assets/captions-fr.vtt",
            kind: "captions",

[2018-03-09 08:15] mangemve1511 commented on #7
@d4lv Use CloudConvert to mp4.

[2018-03-09 08:18] danhbinhyen commented on #73
tkss

[2018-03-09 08:21] danhbinhyen commented on #73
is posible upload button for subtitles or add subtitles from link?

[2018-03-12 22:24] #67 closed

[2018-03-12 22:26] ArdiArtani commented on #62
Please visit the jwplayer site for more information how to add subtitles [https://www.jwplayer.com/](https://www.jwplayer.com/)

[2018-03-12 22:26] #62 closed

[2018-03-12 22:28] ArdiArtani commented on #72
Use the function PosterImg($url); to grab the poster image

[2018-03-12 22:28] #72 closed

[2018-03-12 22:28] #70 closed

[2018-03-12 22:29] ArdiArtani commented on #69
Please visit the [jwplayer ](https://www.jwplayer.com)site for more information on how to add subtitles.

[2018-03-12 22:29] #69 closed

[2018-03-12 22:30] #27 closed

[2018-03-12 22:31] ArdiArtani commented on #71
This is simple a download script which mean no playback, no solution until now.

[2018-03-12 22:31] #71 closed

[2018-03-18 23:35] d4lv commented on #7
is any free script for rapidvideo without ads??
@ArdiArtani check your email..

[2018-03-22 13:04] templarc commented on #7
@ArdiArtani Hi, and solution for download speed restriction at this link https://lh3.googleusercontent.com/9hjfn7zqOZINb2UmY352yVU3XWLE7vvtDRHiWm9KPwd6hIBultO5yFea0yzGkwNdci9c-Y1SJINEN6dqoqrTqFI2B57d9Di_tODQ2Tsrp0nXS9XCfU9nCvxp1ONbQoquLFeeesa3iw=m37

Thanks

[2018-03-26 17:57] ecchirealm opened #74 "Ads?"
How do you add a adtag url to this script? When you inspect element there is a afs_ads class, so it should be possible any information would be great thanks

[2018-03-26 18:21] ecchirealm opened #75 "Proxy Help"
Does this script have a proxy code implemented so google won't delete the copyrighted material?

[2018-03-26 18:29] milankragujevic commented on #75
First of all, Google uses ContentID to delete and match copyrighted content, and second, no it doesn't have proxy.

[2018-03-28 08:44] ecchirealm opened #76 "autoplay"
How do you remove autoplay from the player. I looked at the php files and none of them have the "autoplay=true" like most players, any help would be greatly appreciated!

[2018-03-28 20:36] Leonsss commented on #76
@ecchirealm try to add `autoplay: false` at the index.php below aspectratio: '16:9'.

[2018-03-29 00:15] ecchirealm commented on #76
didn't work do i have to add any ''? can you give an example of the integrationi at work?

[2018-03-29 02:57] blacky0315 opened #77 "why i can not use videojs"
why i can not use videojs ? not work

[2018-03-29 03:09] DinoDabs commented on #77
https://github.com/DinoDabs/Google-Drive-Player-Script/blob/master/embed.php

[2018-03-29 08:53] Leonsss commented on #76
In jwplayer is autostart not autoplay. My bad. Try `autostart: false`

[2018-03-29 11:12] blacky0315 commented on #77
not work format not support mp4 files

[2018-03-29 16:33] DinoDabs commented on #77
http://yoursite.com/embed.php?url=https://drive.google.com/file/d/0ByaRd0R0Qyatcmw2dVhQS0NDU0U/view
it works...

[2018-03-29 22:07] miycz opened #78 "Subtitles?"
Hello,

is it possible to implement subtitles in the player?

everything is working, I just wanted to add this function.

[2018-03-29 23:15] ecchirealm opened #79 "error setting up video: invalid license key"
error setting up video: invalid license key
this error shows up when trying to make video and when video plays, please ehlp

[2018-03-30 22:40] #79 closed

[2018-03-30 22:49] ecchirealm opened #80 "Scared of Google Drive Video Being Taken Down"
Hey, jsut implemented into my site, but i'm scared that if the traffic gets higher, google might notice and take down the google drive vide. Is there any way that we can implement something to prevent this? thanks

[2018-03-30 22:57] ecchirealm opened #81 "How to add Ads to Jwplayer (Tutorial)"
Sign up with Exoclick (Pre Roll Ads) Use my Reffereal Link If You Guys Want!
https://www.exoclick.com/signup/?login=Raween
Then Go To In Stream Ads. Choose your preffered setttings and click next.
Use This Code To Implement The Code into Index.php.
[code]
Only implement the "ADVERTISING SECTION STARTS HERE" into index.php, or you'll get an error, just copy paste don't worry about proper indentatio

[2018-03-30 23:41] DinoDabs commented on #80
You have nothing to worry about. I've been using for months with thousands of views daily. I encrypt source url but that doesn't make a difference to google. I only encrypt to prevent others from using my files.

[2018-03-31 18:55] miycz commented on #78
Hello,

I have managed to put it within my reach and knowledge, but it is working.
And I will share with you.
1.create a folder called subs
2.index.php add:

[code]

and
3.embed.php

[code]

it's OK
would it have another way to get $subt from index.php without having to show the filename in the link?

[2018-04-01 18:05] ecchirealm commented on #80
could you give me a tutorial on how to encrypt the files?

[2018-04-01 20:48] xCalifier commented on #31
I was able to get lh3.googleusercontent.com link from http://getvideodrive.com/

But, is there any easy approach to get that link programmatically

[2018-04-02 02:30] VicktorS2 commented on #76
I solved!

Go to **index.php** and change _"https://content.jwplatform.com/libraries/DbXZPMBQ.js"_  to _"https://content.jwplatform.com/libraries/vnE1uxPy.js"_

[2018-04-02 06:50] ecchirealm commented on #76
i tried that and it didn't work, is that all you did? and are you sure you embeded it?

[2018-04-02 14:13] itseasy21 commented on #76
set `"autostart": false,` after aspect ratio should work, else use the js link provided by @VicktorS2 , it has autostart disabled by default

[2018-04-03 02:05] xCalifier commented on #7
drive.google.com/get_video_info still returns the 403 links.. response grabbed from xhr request to get_video_info in drive video preview player gives accessable links... what are the possible solutions that worked ??

[2018-04-05 00:29] #78 closed

[2018-04-06 03:09] #76 closed

[2018-04-11 23:10] ecchirealm opened #82 "Unable to play this video at this time. The number of allowed playbacks has been exceeded. Please try again later."
Unable to play this video at this time. The number of allowed playbacks has been exceeded. Please try again later.
This error shows up after 2k views, any fix?

[2018-04-11 23:12] ecchirealm commented on #75
need proxy, this error shows up
Unable to play this video at this time. The number of allowed playbacks has been exceeded. Please try again later.
So proxy would help overcome it

[2018-04-12 11:13] Zebraslive commented on #82
Is that 2k views on one video or the entire account?

[2018-04-12 14:04] blacky0315 commented on #82
is new google dirve have max 2000 views limit for data

[2018-04-13 05:31] ecchirealm commented on #82
any ideas to fix it? any help would be appreciated, as of right now i'm making copy's of the file but it isn't a long run fix. any help would be very appreciated.

[2018-04-13 05:31] ecchirealm commented on #82
it's on multiple videos, but as of right now if i try to view the video on google drive, it shows the error message on all the videos on google drive

[2018-04-13 08:16] blacky0315 commented on #82
give not fix

[2018-04-14 20:12] ecchirealm commented on #82
any new fixes?

[2018-04-15 18:12] blacky0315 commented on #82
no is from google server side , can not fixxed ...

[2018-04-24 06:28] pathboot commented on #22
i have fix this probleme, you need to upload a mp4 file this probleme come with .avi and .mkv , but with mp4 its working fine so you need to upload mp4 video not avi not mkv

[2018-04-24 06:40] pathboot opened #83 "We can use other skin for player ? another jwplayer ?"
hi
i have search in closed issues but i find nothing abouts this, so we an use another skin for player ? or change the jwplayer ?

thanks

[2018-05-02 16:04] zeydhan2 commented on #82
Hello. i've done some tweak to bypass this limit. it can be fixed, we still have hope, you can use my free api by calling at this link:
http://gdriveplayer.us/embed2.php?link={enter your limited google drive link here}

please send feedback if you find any error. thanks

[2018-05-02 16:06] zeydhan2 commented on #80
you ca use this link:
http://gdriveplayer.us/embed2.php?link={insert your google drive link here}&subtitle={insert your sub link here}&encrypt=yes

it will return encrypted iframe code, you can place them directly to your website. it can also has bypass limit

[2018-05-02 17:52] pathboot commented on #80
@zeydhan2 thanks for the tips but for me i want the script installed in this link, any idea ? because i want my own script if you have any idea im here
thanks

[2018-05-03 07:14] mangemve1511 commented on #80
Get videos private fb. It’s never die.

[2018-05-03 12:08] pathboot commented on #80
@mangemve1511 hi, how we can use it to stream ? more info plz bro

[2018-05-03 12:11] mangemve1511 commented on #80
@pathboot I sell script. if you need it, contact with me.

[2018-05-03 12:13] pathboot commented on #80
@mangemve1511 ok bro add me in skype im online now : pathboot

[2018-05-03 12:16] mangemve1511 commented on #80
@pathboot Check your skype.

[2018-05-06 04:41] VanChannak commented on #16
I cant find where I can embed to post?
How can I ?

[2018-05-06 07:55] Zebraslive commented on #80
Just made this today https://github.com/Zebraslive/MediaFire-Streaming

[2018-05-06 08:12] MediaFireStream commented on #7
Mediafire is better for video hosting. Demo at http://giftup.tk/mediafire/
Bypass bandwidth limits and uses full quality video.

[2018-05-06 09:41] hklcf commented on #7
@MediaFireStream too slow..

[2018-05-06 11:01] hklcf commented on #7
https://github.com/hklcf/MediaFire-Stream-API

[2018-05-07 02:03] MediaFireStream commented on #82
You can stream videos from mediafire without limits.
Demo http://giftup.tk/mediafire/
You don't have to use 3rd party api, you can host the script yourself.

[2018-05-07 04:30] ranmeo commented on #7
Hi,

Is it stream slow on your side? https://goo.gl/BWHFUF

[2018-05-07 07:14] hklcf commented on #7
@ranmeo can you tell what is the using of https://images3-focus-opensocial.googleusercontent.com/gadgets/proxy?

[2018-05-07 09:26] ecchirealm commented on #82
can you add vast (ads) to this script?

On Sun, May 6, 2018, 10:03 PM MediaFire Video Streaming, <
notifications@github.com> wrote:

[2018-05-07 09:29] hklcf commented on #7
@ranmeo please tell us how to proxy gdrive or youtube

i found your player code on your site

```<div id="vljpkh16xtz">Loading...</div><script>↵		jwplayer.key='QaRGCJxkkwbZg9+yV2UHsZYTJKhuG6K3yLVFjLjyEAU=';↵  ↵		jwplayer('vljpkh16xtz').setup({↵			primary: 'html5',↵			cast: {},↵			width: '100%',↵			height: '550px',↵skin: {name: 'vapor'},↵↵			sources: [{"type":"video\/mp4","label":"360p","file":"htt

[2018-05-07 10:33] hklcf commented on #82
https://github.com/hklcf/MediaFire-Stream-API

[2018-05-07 10:36] ecchirealm commented on #82
how do u add vast ( ads) to this?

On Mon, May 7, 2018, 6:33 AM HKLCF, <notifications@github.com> wrote:

[2018-05-07 10:37] hklcf commented on #80
Free mediafire api

https://github.com/hklcf/MediaFire-Stream-API

[2018-05-07 18:09] MediaFireStream commented on #82
My script includes embed files for easy use but also includes API output.
You can use videojs vast/vpaid plugins with it. I'll add some more features to the script when I have some time. I can also hide full source of the video and add hourly cache.
@ecchirealm use coupon **5off** and get for $5

[2018-05-07 22:35] ecchirealm commented on #82
does this include installation service

On Mon, May 7, 2018, 2:09 PM MediaFire Video Streaming, <
notifications@github.com> wrote:

[2018-05-07 23:13] MediaFireStream commented on #82
@ecchirealm I can set it up for you, but it's really not that hard to do. just upload the files and that's it.
then use like http://yoursite.com/embed.php?u=mediafirelinkhere
or http://yoursite.com/api.php?u=mediafirelinkhere to get json

[2018-05-08 11:08] hklcf commented on #82
Free MediaFire embed script and direct link api

https://github.com/hklcf/MediaFire-Stream-API

[2018-05-09 06:38] darkrole opened #84 "Quality Options"
is there a way for the player shows quality options?

[2018-05-19 11:05] sharpanimes opened #85 "Thanks, i need something different please look into it"
Hello,
i have finally found what i have been looking for but , i want to do the same with direct .mp4 url
what i meant is in the text box i want to enter a mp4 url and want to get the iframe for it please help
thanks. Just needed it

[2018-05-20 11:48] congphat1998 opened #86 "No sound , and add not auto play"
player not show sound
and can you make a script autoplay="no" ?
thank you

[2018-05-21 06:26] hklcf commented on #82
Free Facebook video embed script and direct link api

https://github.com/hklcf/Facebook-Stream-API

[2018-05-22 15:48] royman699 opened #87 "Unknown Error"
why cannot load this link ??
https://drive.google.com/file/d/1Ms0www5e6oaq0CYjSuCueZz57fJq9AgD/view

[2018-05-23 22:21] DinoDabs commented on #82
@hklcf Facebook deletes a video soon as it's uploaded if it contains any copyrighted sounds. Any way around this? does using private videos work? don't see how this could be beneficial to anyone since most of use are using copyrighted content.

[2018-06-07 04:36] christopher139 commented on #7
I see this site selling goole drive proxy: https://apicodes.com/product/google-drive-proxy-player-advanced-script/
Also google drive private: https://apicodes.com/product/google-drive-player-script/

[2018-06-07 10:36] chopraaa commented on #7
@christopher139 "Google Drive Private" is just based off this - https://github.com/chopraaa/video-stream-api as it also allows you to stream and cache private videos.

[2018-06-08 01:48] christopher139 commented on #7
@chopraaa did you try it? Their script is written in PHP and no one is sure they copied the idea from you. I just share it for who really needs it :(

[2018-06-08 10:27] chopraaa commented on #7
@christopher139 I don't need to try it. Like I said, my script has the same functionality.

[2018-06-08 13:05] christopher139 commented on #7
@chopraaa your script have a view limit? do you have demo? I'm so interested your script but I don't know how to setup :(

[2018-06-08 13:13] hklcf commented on #7
@christopher139 proxy gdrive and cache the file

[2018-06-12 17:37] Zebraslive commented on #87
Because it's mkv. You have to convert to mp4.

[2018-06-12 17:53] Zebraslive commented on #7
made this last week if anyone needs it.
https://github.com/Zebraslive/Myspace-Video-Streaming

[2018-06-13 04:53] #81 closed

[2018-06-13 04:53] #87 closed

[2018-06-13 04:54] #86 closed

[2018-06-13 04:54] #77 closed

[2018-06-13 04:55] #74 closed

[2018-06-15 04:38] congphat1998 opened #88 "Video can't load sound"
i try movie video and i can't hear any sound
video test: https://drive.google.com/file/d/1Jwidx1JEXxiLnLIyBcsNsYzfZ1lO66Gr/view

[2018-06-15 15:06] Zebraslive commented on #88
mkv won't work in browser correctly. You have to convert to mp4

[2018-06-17 17:59] #88 closed

[2018-06-17 17:59] #83 closed

[2018-06-17 18:08] #85 closed

[2018-06-17 18:09] ArdiArtani commented on #84
#7

[2018-06-17 18:09] #84 closed

[2018-06-17 18:09] #82 closed

[2018-06-17 18:09] #80 closed

[2018-06-17 18:09] #75 closed

[2018-06-17 18:10] #68 closed

[2018-06-17 18:40] #61 closed

[2018-06-17 18:41] #60 closed

[2018-06-17 18:42] #59 closed

[2018-06-17 18:42] #31 closed

[2018-06-24 21:30] eudesaess commented on #7
@Zebraslive , Does your code version (Google-Drive-Player-Script) have high traffic access limits?

[2018-07-12 04:31] aplusing opened #89 "Can you Help me? I want to input form to get link like old version."
Can you Help me? I want to input form to get link like old version.
![untitled](https://user-images.githubusercontent.com/20993437/42612723-10df1b18-85c7-11e8-97a8-ca563b272d8c.png)

[2018-07-19 13:17] mrtam95 opened #90 "Not working"
Script can't get/play video in stablehost (phoenix) hosting.

Demo screenshot
https://imgur.com/7dh9Kjp

[2018-08-01 03:50] #90 closed

[2018-08-01 19:57] sitigeradio opened #91 "Add Input Subtitle"
Please add fiture add subtitle

[2018-08-11 14:09] w1ngm3n opened #92 "how do i enable autoplay?"
I have seen previous questions on how to disable it but I cannot seem to find the code to change anywhere.

[2018-08-13 16:05] w1ngm3n commented on #92
can i hide the controls as well?

[2018-08-15 03:25] ArdiArtani commented on #89
@aplusing Sure I will include it on the next update

[2018-08-15 03:25] #89 closed

[2018-08-15 11:33] w1ngm3n commented on #92
sorry github noob here..where do i make the edits?

[2018-09-22 19:18] MustafaMta opened #94 "What do I miss, to add the subtitle (closed captions)? And how can I add !!"
- <?php
- /*
- Template Name: DT - Google Drive jwplayer
- */
-
- if( isset($_GET['gd'] ) and isset( $_GET['id'] ) ) {
-
- // Link parameters
- $id		= isset( $_GET['id'] ) ? $_GET['id'] : null; // the post
- //$source = isset( $_GET['gd'] ) ? $_GET['gd'] : null; // The Google Drive ID
- $sources1 = $_GET['gd'];
- // JWplayer Option
- $abouttext		= get_option('dt_jw_abouttext');
- $skinname		= get_

[2018-09-25 20:07] blacky0315 opened #95 "Can subtitle added ?"
Hello

The new Script can subtitle added to movie please ?

[2018-10-21 03:42] carrotis opened #98 "It's not work over 200MB file."
Hi

It's only work small video files.

How can it video play over 200MB files.

[2018-10-23 19:09] zeydhan2 commented on #95
Hello, to add subtitle you can use : https://gdriveplayer.us

[2018-10-23 19:09] zeydhan2 commented on #98
Hello, you can use : https://gdriveplayer.us

[2018-10-26 09:34] apt425410 opened #99 "get multiple quality"
what i think now is  it grab link highest quality can you get link all of them since 240p -> 1080p ?

[2018-10-28 19:10] umeshsd commented on #95
hi sir how to set quality in your  script

[2018-11-05 13:19] kylebown commented on #99
im trying to do the same thing have you found a solution yet ?

[2018-11-07 18:07] pathboot opened #100 "what mean 2000 limit view"
hello
please bro can you explaint more aboout this :

Video view limit max 2000

this mean the video can viewed 2000 times only ? or in 24 heure ?

[2018-11-08 22:18] mongmonk opened #101 "Error video"
All video from google drive got error today :( .

[2018-11-08 23:06] Zebraslive commented on #101
Same here. Something changed recently. I wasn't having any problems until a few weeks ago. When try to get a shareable link it says "anyone with link can comment" instead of "anyone with link can view".
It can't be changed even if you set it to public it will force comment only when you hit the supposed download limit.

I'm using unlimited gdrive account.......with only 77gb uploaded. I've had acc

[2018-11-09 04:30] xEmily911 commented on #101
I've encountered this error today. I am unsure if it's a google sided error, or JWPlayer.

I created a support ticket with jwplayer to find out more.

GDrive videos still work fine, and can create share-links with anyone can view without signup.

So I think either JWPlayer has changed something (they just had maintenance a few hours ago) or google has changed something.

[2018-11-09 04:51] Zebraslive commented on #101
@xEmily911 It's not JWplayer, I don't use it.
I use videojs.
Google has definitely changed something.

[2018-11-09 04:55] xEmily911 commented on #101
Well i've got like 1500+ videos that are now all error-coded.

I am hoping someone can hotfix this issue so my cache/videos return to working.

In mean-time, will have to write up an re-director to obscure gdrive embed urls.

[2018-11-09 05:08] Zebraslive commented on #101
it appears to be limited based on server ip. So if it gets limited just curl with proxy.

[2018-11-09 07:36] xEmily911 commented on #101
Can you elaborate further?

Are you saying gdrive is limiting direct download/access IP's for servers hosting/using the drive script?

Have you tried installing the script on a fresh ip/webhost and no problem?

[2018-11-09 13:47] Zebraslive commented on #101
@xEmily911 yes exactly. it worked for me. Just grab the link using a diff server ip and pass it back to your main site using curl or whatever you prefer.

[2018-11-09 20:32] xEmily911 commented on #101
I see. Your solution is simple, however, not ideal for my scenario.

1500+ posts are using iframe embeds from the domain associated with the embed scrip).

If I understand, your idea; would require me to go in and manually change and then publish update them all 1 by 1 to the new domain (uploading embed folder backup to new hoster - newipdomain.com/embed/cachedtoken).

I could maybe automate this

[2018-11-09 21:42] xEmily911 commented on #101
Okay,

So I ran embed script from a new IP (on my box) - Still encountering the same problem.

So either (by your explanation) gdrive has blacklisted the IP range of my server (xxx.xxx.xxx.1/2/3/4/5/6) or there's a security update that now longer allows script to curl download token..

I don't think its IP blacklisting (and rather a security update) because;

1) I have tried multiple gdrive accoun

[2018-11-10 21:12] Zebraslive commented on #101
You don't have to upload your embeds just edit the function in curl_gd.php file, add a condition that runs the proxy function if $get returns empty.
try with one of your files, use the file id, not full url. http://vstream.x10.mx/gd/prox.php?id=0ByaRd0R0Qyatcmw2dVhQS0NDU0U
(just for testing)

prox.php source
[code]

now on your main domain that's not working with google drive, edit the curl_gd.php

[2018-11-11 01:45] xEmily911 commented on #101
I tried the script already on another box, and still same result. Cannot pull video gdrive.

[2018-11-11 01:47] Zebraslive commented on #101
so it doesn't work with this demo either?
http://vstream.x10.mx/gd/prox.php?id=0ByaRd0R0Qyatcmw2dVhQS0NDU0U

[2018-11-12 00:18] xEmily911 commented on #101
I tried my own forked zip on another box. I haven't tried the newer version, or yours.

Do you have skype or discord? I would like to chat further privately if possible.

If you do, let me know and I'll forward you my addies.

[2018-11-12 01:18] Zebraslive commented on #101
I don't really get on skype or discord much, I'm very busy managing my own sites and other work. I have over 8000 videos using gdrive and the proxy fix i had posted seemed to work at first but now it's not working.  just have to buy more gdrive accounts and spread out the videos between accounts.
send your skype or discord and I'll add you when I can.

[2018-11-12 03:15] xEmily911 commented on #101
Yeah, I assumed as much. They've fundamentally changed something with the token/id. They're either rate limiting 1 ip fetches after a certain sample size, or something else.

My skype = l4uuuu1  - I am on most of time.

[2018-11-15 23:59] ArdiArtani commented on #101
Hello everyone,

I’m going to take a look and see what google changed. I haven’t been active the past couple of months. I will keep you updated.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-16 01:43] xEmily911 commented on #101
Thank you, Adri.

Please keep us updated on new developments.

[2018-11-18 17:50] ArdiArtani commented on #99
#7

[2018-11-18 17:50] #99 closed

[2018-11-21 03:46] adeadw commented on #101
me neither,,:

{ "id": "0B04yda-aeq8sTS1jYldYWV9DbUU", "title": "%5B720p%5D+LK21.ORG+-+Nayak%3A+The+Real+Hero+%282001%29.mp4", "image": "https:\/\/lh5.googleusercontent.com\/BnchWWoH-VaSBbPxBgrLn720wqj5wDBbTAmyaWnxMXd2HJk3gNVXQw=w1200-h630-p", "label": "HD", "file": "", "type": "video\/mp4", "embed_id": "amVNOHNPVWlPckU3L1F3K0ZCUU5nYzhwOXdBMkVTYk9vL1hwb3BnOFZ6dz0=" }

the "file:" not showing the s

[2018-12-05 15:43] ainzz commented on #101
I was checking yesterday the get.google.com albumarchive interface and I had some old picasa videos stored that were public. I tested the ipv4/ipv6 method and it seems to be working fine. Has someone any ideea how to make videos public in albumarchive from google photos or google drive?
I will get a demo ready.

[2018-12-12 20:41] DonCorleone9 commented on #101
How did you make it work ? Any pointers to the exact ipv4/v6 method ? I have heard about it and found an old proxy streaming repo but it doesn't work..
Please can you tell me where to get the code for your demo ?
Thanks. 👍

[2018-12-12 20:42] DonCorleone9 commented on #101
Even the demo player of ArdiArtani is not working anymore..

[2018-12-13 12:48] ainzz commented on #101
`function getURL($url) {
      $ch = curl_init();
      curl_setopt($ch, CURLOPT_URL, $url); //set url
      curl_setopt($ch, CURLOPT_HEADER, true); //get header
      curl_setopt($ch, CURLOPT_NOBODY, true); //do not include response body
      curl_setopt($ch, CURLOPT_RETURNTRANSFER, true); //do not show in browser the response
      curl_setopt($ch, CURLOPT_FOLLOWLOCATION, true); //follow any re

[2018-12-13 16:01] DonCorleone9 commented on #101
Thanks a lot for the code.. And is it not possible anymore ? I mean picasa is now google photos.. Is it not possible to upload to google photos and do the same ?
Pardon my ignorance

[2018-12-13 17:49] ainzz commented on #101
This is what I  trying to find out. The picasa API is still active so theoretically it's possible to upload and the videos will show up on albumarchive. The problem is that the API will be turned down in January 2019 so it's useless to try now.

[2018-12-14 00:18] DonCorleone9 commented on #101
Thanks..
Hopefuly @ArdiArtani  will update us soon.

[2018-12-20 17:02] ArdiArtani commented on #94
Please take a look at @jwplayer/jwplayer

[2018-12-20 17:02] #94 closed

[2018-12-20 17:08] DonCorleone9 commented on #101
I tried the script & its working perfectly right now..
What are you all experiencing ?

[2018-12-21 00:07] ArdiArtani commented on #101
It should work now! Download the new release v2.0

[2018-12-21 00:07] #101 closed

[2018-12-27 00:02] mongmonk commented on #101
I got the simple solution for video download link. just need googledrive API. bellow the link
`<?php
$api = "API GOOGLEDRIVE KEY"; //ex: AIxxxxxx
$id = "ID FILE GOOGLE DRIVE"; //ex: 1OVtpk04QS0q1aZuBhraCfscRJhzy0R3D
$link = "https://www.googleapis.com/drive/v3/files/$id?alt=media&key=$api";
echo $link;
`

[2018-12-27 00:37] DonCorleone9 commented on #101
@mongmonk
Does this method have rate limit ?
As I believe API always have rate limit in Google..please verify this.
Thanks

[2018-12-27 03:18] mongmonk commented on #101
I don't know. I just trick it with create some API key and shuffle it :)

[2018-12-30 20:38] giggioman00 opened #103 "May you please help me to understand better this script?"
I need help because I'm confused with few steps.

So, I have downloaded the script and I have uploaded the files on my server.
Then I have put my API key in the drive.php.

Then I open the script with the following command:
http://<yourdomain.com>/?url=https://drive.google.com/file/d/[ID]/view
of course by replacing <yourdomain> and [ID]

But now what? I have no idea what I should do now in order

[2018-12-30 20:57] DonCorleone9 commented on #103
@ArdiArtani  Hey I am not using Google Drive API and still it is working for me.
Please can you let me know what is the difference between old and new script.. I see you did a new commit 10 days ago.
Would really appreciate your inputs. Thanks.

[2018-12-30 21:07] DonCorleone9 commented on #103
Hey @giggioman00 .. for you i made this..
Use this below code i derived from an older commit as a format of your pages..
Just update ID up top and that is it.. You are all set. :)

P.S. : Let's connect via messages or something if you are into streaming sites.. Maybe we can share some source codes and stuff..

`<?php
$id = "YOUR_ID_HERE";

//Create folder if it doesn't already exist
if (!file_exis

[2018-12-30 23:43] giggioman00 commented on #103
Thank you for the answer, but the link is not crypted, the ID of the video do appear on the source

[2018-12-31 13:35] DonCorleone9 commented on #103
You are wrong.. It does work.. Use it and see for yourself.. The link it makes is like a docs google kinda link.. That a short term link which changes every couple hours.. Your google drive actual direct link doesnt show up.
Wrong !

[2018-12-31 13:41] DonCorleone9 opened #104 "Difference between API vs No API ?"
Hey @ArdiArtani
2 questions:

1) I saw your commit 11 days ago and it uses the google API. I am using a previous version of the drive script. I wanted to know.. What is the difference between using the Drive API version and the one without it ? I ask because the way i have modified this script to use with WP will require a lot of changes to make this work.. Can i continue to use the one without th

[2018-12-31 14:07] giggioman00 commented on #103
Yes but please, let me show you the problem I'm facing with your script using a test video.

So I put the ID where your script tell me to put it. Then I run the script and I get this link:

`https://doc-0c-3g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/2ae7k7ph207qqeh0savf46s2gspmv03c/1546264800000/03024062429258781666/*/1V75uLrUmf8Pg-ObmAC1d-QJMxn4v2fJy?e=download`

[2018-12-31 14:53] DonCorleone9 commented on #103
Yes, you are right, it does in fact create that last part which is same as ID of the file.. and it can be used to take a video down.
Though, putting a md5 hash wont really stop people from merely clicking that link and finding the actual source of the video..

The script i posted was based on a commit #62490f9 created by @ArdiArtani  by merge with @Zebraslive

It seems there has been addition to t

[2018-12-31 15:37] giggioman00 commented on #103
Honestly I don't know because I can't understand how this script works to see what it does. But it should use the redirector, because I have read this on the homepage of the script:

[2018-12-31 15:53] DonCorleone9 commented on #103
I think he has made an api.php on his own site filedeo and that seems to be what is generating the stuff..
That site btw doesnt seem to function right now.. Like when i go there on homepage it gives me option to make such a link but doesnt work.. This is weird. I am gonna have to get back to this when i have time.

I am planning on using the FB script only hence forth.. This is gonna be tough if h

[2018-12-31 16:50] DonCorleone9 commented on #103
Yes.. he has kept api.php private.. Let me try and make a replacement one.. should be doable.. Lets see..

@Zebraslive  commented same on @ArdiArtani 's commit here:
https://github.com/ArdiArtani/Google-Drive-Player-Script/commit/4da22025b0b9508ba6ec9a01b5e023e3dd743ae1#r31752901

[2018-12-31 16:58] DonCorleone9 commented on #103
@giggioman00  Hey i found a couple ways to make this work..but for some reason i cant seem to be able to get the API Key.. can you tel me how you made it ? I think it should start with AI or something like that.
Please let me know how to get drive API key.. I will send you working script once done.

[2018-12-31 17:07] DonCorleone9 commented on #103
This would get the video to download but wouldnt make a redirector link
https://www.googleapis.com/drive/v3/files/1V75uLrUmf8Pg-ObmAC1d-QJMxn4v2fJy?alt=media&key=InsertAPIKey here

[2018-12-31 17:39] DonCorleone9 commented on #103
I understood it.. For your video it makes something like this:
https://filedeo.com/hash.php?link1=NK70NNNj7z7LNo76jPNvNz7RNJ7INKN77FNPNhNgNS7~7l7o7ZNq717RjTNDN6jCNP7I717vNQNUNvNljNNG7l7RN37R7aNONJNjN07ONgNL7YN47ZNJNBNENzNzNFNvNN7R0273b5d4668ba714a96edc41b23be22937f86f79645e475a4b3e7343dda563b3jCNvj7NuNL7JNA7zjJj.j87WjqN2jsNkNRj7N2j7N4Ny7~NsNdN.7yNqjnjXN2jg7.NZ7Y7tjPj8NSNBjbN77~NM7.70NRNZjvNoj6NiNG

[2019-01-02 16:50] dungvaph03374 commented on #7
I found a way to get video with multiple playback that using cloudflare with page rule cache everything

[2019-01-02 18:37] FloridaStream commented on #7
Hello bro, could you explain how this is done? or who knows how to share some code? @dungvaph03374

[2019-01-03 17:08] dungvaph03374 commented on #7
You know the playback link from get_video_info require cookie DRIVE_STREAM right
So you need an proxy script to stream that link to visitor, something like https://stackoverflow.com/questions/47235324/php-stream-remote-video-file/47235371#47235371
If you have high disk space server you can download video by using curl multi, it freaking fast with 30 threads https://stackoverflow.com/questions/7099

[2019-01-03 20:15] rastafara45 commented on #7
@dungvaph03374
Yes, it will work but cloudflare have term of service right? See this:
https://www.cloudflare.com/terms/
There's too many words to read LOL, so i search about proxying video throught cloudflare and i found this:
https://support.cloudflare.com/hc/en-us/articles/200169706-Can-I-use-CloudFlare-with-a-streaming-music-or-video-site-
So, basically cloudflare will controls it's service fro

[2019-01-03 20:34] dungvaph03374 commented on #7
2.8 Limitation on Non-HTML Caching
Use of the Service for the storage or caching of video or a disproportionate percentage of pictures, audio files, or other non-HTML content, is prohibited.
It was weird because they support cache size up to 512MB
Btw google drive is not for video streaming either so don't talk about violation

[2019-01-04 11:08] dungvaph03374 commented on #7
This method is really complicated to setup so if you don't need high speed streaming then go for proxy

[2019-01-10 11:52] mimii95 opened #105 "is not working!"
I have the old version, but it is not working anymore and i have more then 1000 videos!  and the new version is not working, but i need help to fix the old version, if no i have to change more then 1000 videos :/

[2019-01-12 10:20] apt42541 opened #106 "fmt_stream_map"
i try
https://drive.google.com/get_video_info?docid=
and
cURL fmt_stream_map but it seem google block me you guys have a way?
![image](https://user-images.githubusercontent.com/12625408/51072138-62c8ba80-168e-11e9-89f5-18f81208bc5d.png)

[2019-01-13 15:34] kjvfghkrgs commented on #7
Is there anyone find-out how to get lh3.googlusercontent.com from drive sharing URL?
From **https://drive.google.com/file/d/xxxxxxxxxxxxxxxxxx/view**
to ->  **https://lh3.googlusercontent.com/xxxxxxxxxxxxxxxxxx=m22**

[2019-01-19 11:47] kjvfghkrgs commented on #7
@dungvaph03374 Yes, I can get that format via my account with googlePicker. Some people can turn drive format into photos format somehow. That's amazing thing!

[2019-01-21 07:56] dungvaph03374 commented on #7
Well who know, some said using gsuite business account can bypass authentication, i did try business and enterprise still cookie required

[2019-01-22 09:57] kjvfghkrgs commented on #7
@fogil That is not what I'm looking for. I just wanna know how to get lh3 from public share drive url. I can get lh3 in my account through picker, but not public share drive url. If you can do that, just tell me, I'll tell you the rest part to make it works.
@rastafara45 Based on that url, I can tell you, it was generated from http://cloudstreamapi.com
@dungvaph03374 I know, and I can make it work

[2019-01-22 18:34] arunsaravanan14 opened #107 "Support Needed For Large size videos"
Your script is good...

but we cant use videos graeter tha 200mb

so please provide us suggestion or an another best way

[2019-01-23 06:38] dungvaph03374 commented on #107
Try to increase max_execution_time and memory_limit

[2019-01-24 09:18] dungvaph03374 commented on #7
Gphoto api is supported now so maybe its time to leave gdrive :1st_place_medal:

[2019-01-24 19:17] fogil commented on #7
@dungvaph03374 We all would love to use Photos API if it can give us google URLs for public use that is cookie-free.  To my knowledge, it does not.  That is why we are staying on Google drive.

[2019-01-25 01:05] mangemve1511 commented on #7
Now i using this code.
https://play.phimhay-hd.xyz/play/player-demo/

[2019-01-26 12:38] kjvfghkrgs commented on #7
Google was make changes on googlevideo link with cp param which contain access to file cookie.
Before, to remove cp param, we can simple get header with mobile UA.
For now, I was figured out a new way to bypass this param again. If you can get/generate lh3 url, just tell me how. I'll tell you how to bypass this param.
One more important thing, if google still not check IP request and IP access, th

[2019-01-26 16:56] dungvaph03374 commented on #7
Just upload to google photo, solve the problem lol
curl --head "https://lh3.googleusercontent.com/lr=m18"
HTTP/2 302
location: https://r1---sn-i3belne6.c.lh3.googleusercontent.com/videoplayback?itag=18&source=webdrive
set-cookie: PHOTOS_STREAM=AEmxMPGdiGOFWShgvBx4yN5ZADtEXs_QN-L2H1dRiExULlJOgbfR9R
-----------------------------------------------------------------------------------------------------

[2019-01-27 17:15] dungvaph03374 commented on #7
Gphoto is pretty faster than the last time i used it a year ago, transfered +500GB from drive to photo with just 2 shared hosting $1/month lol
![image](https://user-images.githubusercontent.com/9255898/51804292-88121700-2291-11e9-8a74-ebae3fcbde60.png)

[2019-01-28 07:48] aakricha commented on #7
can you share the code please?

[2019-01-31 16:10] animey commented on #7
Ok i have try google photo but its weird that video always processed to 360p and 720p so i guess i will stay on google drive

[2019-02-01 11:58] anandasatura commented on #7
@kjvfghkrgs how to bypass lh3? contact me : anandasatura [at] gmail [dot] com

[2019-02-05 18:12] #107 closed

[2019-02-05 18:13] ArdiArtani commented on #106
#7

[2019-02-05 18:13] #106 closed

[2019-02-05 18:15] ArdiArtani commented on #105
Hello @mimii95, I'm trying to find a new solution. For follow-up check issue number #7

[2019-02-05 18:15] #105 closed

[2019-02-05 18:18] ArdiArtani commented on #104
Hello @DonCorleone9, since Google did some changes, the previous version wasn't working anymore so I came up with another temporary solution until I find another one that doesn't use Drive API. For your second question no it doesn't matter as long as you have an API key

[2019-02-05 18:18] #104 closed

[2019-02-24 03:16] adeadw commented on #103
How to bypass the api.php?? i mean i want to use the sscript without encryption to filedeo,, just like the older script version.

[2019-03-06 13:21] giggioman00 commented on #103
2 months later, nothing changed. @ArdiArtani please, can you use 5 minutes of your time to tell me what I needin order to setup a service that is safe from being flagged? And how to do it? Over the solved issues there are a lot of code sources, different repository, premium service to pay that is impossible to understand what to do. Thanks

[2019-03-23 02:12] CardealRusso opened #108 "Not working anymore"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-03-27 03:31] CardealRusso commented on #7
the player have back to work somehow

[2019-03-27 03:42] CardealRusso opened #109 "https://googledrive.asia/ is working?"
because they dont use the fucking shit filedeo api

[2019-03-27 03:57] #109 closed

[2019-03-27 03:57] CardealRusso opened #110 "Simple solution"
curl -c ./cookie -s -L "https://drive.google.com/uc?export=download&id=${fileid}" > /dev/null
curl -Lb ./cookie "https://drive.google.com/uc?export=download&confirm=`awk '/download/ {print $NF}' ./cookie`&id=${fileid}" -o ${filename}

[2019-03-27 04:02] CardealRusso commented on #110
you can adapt this commands to php
i recommend streaming the out file to browser

[2019-03-27 04:02] #108 closed

[2019-03-27 05:34] adeadw commented on #110
I still dont understand, so what do i need to make the script working again and bypassing the filedeo ? Can you please help me to better understand this

[2019-03-27 11:30] #110 closed

[2019-04-07 16:54] lesotadil commented on #103
@giggioman00 Basicall you can't hide driveid unless you using proxy script

[2019-04-07 16:55] lesotadil commented on #103
@giggioman00 Basically you can't hide driveid unless you using proxy script

[2019-04-07 17:07] lesotadil commented on #103
@giggioman00 Basically you can't prevent driveid from being exposed unless you're using proxy script

[2019-04-21 03:41] akmaljp opened #111 "Stuck, Stream can't play video"
After deploying and seting gdrive api key, i try to add video. But the video won't play i dont know why, something wrong?
![image](https://user-images.githubusercontent.com/46837901/56465136-fba36a80-6421-11e9-83bc-70d47b98631d.png)

[2019-04-30 17:46] lesotadil commented on #7
MPEG-DASH with google cache (video1-focus-opensocial.googleusercontent.com/gadgets/proxy), file stored on drive :)
![image](https://user-images.githubusercontent.com/48087082/56981488-325b4c80-6ba9-11e9-8842-f9f0fbaeab92.png)

[2019-05-01 10:11] lesotadil commented on #7
Upload video to somewhere as an encoder, wait until video encoded and download different quality back to vps/server
Generate HLS/DASH with FFMPEG or MP4Box then upload to drive, i prefer dash + mp4box with single segment option
`MP4Box -out 360p.mpd -dash 4000 -dash-profile onDemand 360p.mp4`
To avoid download limit you can use copy api to duplicate video but it will increase storage size
So build

[2019-05-02 17:54] zeydhan2 commented on #7
Hello guys, i found website that can bypass google drive play limit. It also have redirector link (lh3.googleusercontent) few hours after you submit video. It also can recover deleted google drive file. You can tes submit your link and then delete your google drive file, it can still be played.
The link is https://gdriveplayer.us

[2019-05-08 11:19] quocnguyen commented on #7
I would love to know how to bypass file cookie and cp param, I know how to generate lh3 url.

[2019-05-08 19:00] Abdamingani commented on #7
I found a website and the this is the source link.
https://r2---sn-4g5edns6.googlevideo.com/videoplayback?id=8442d77b192ad837&itag=22&source=picasa&begin=0&requiressl=yes&mm=30&mn=sn-4g5edns6&ms=nxu&mv=u&pl=25&sc=yes&ei=bSPTXNy9GozG1wKn8JHgCg&susc=ph&app=fife&mime=video/mp4&cnr=14&dur=299.839&lmt=1557329875090773&mt=1557340168&ipbits=0&cms_redirect=yes&keepalive=yes&ratebypass=yes&ip=116.203.131.2

[2019-05-08 19:25] zeydhan2 commented on #7
you can use gdriveplayer.us, they encrypt your gdrive id and even bypass google drive limit.
example link: https://gdriveplayer.us/embed2.php?link=yXgFPZ4Om9YoPLx9VWIKBwbWAxuf1UKRcw%252BwzfNVQbLRlVvAM2I515v0IHxPzZ7Y5iqIeCg7E%252BjM5fb6gSorhNccU1JFl1btoxiG0RSYS8VdxwNHpm9fIYa66hkYZ7I0xfNjYYvelaNEuxqL9BymEeBibsq%252B4RZbOsWpcgW3JtTddfyXPzYXNlbSECTL%252FtATc%253D

[2019-05-08 19:29] TheTreesNetwork commented on #7
@zeydhan2 i'm guessing you own this gdriveplayer.us?

Both the above URLs are links to videos stored in Google Photos (Picasa) which do not have the exact same limit as drive videos. You can use the "Sync photos & videos from Google Drive" setting to get Drive videos in to Google Photos and then generate links.

[2019-05-08 19:37] zeydhan2 commented on #7
Yes, you can manually convert google drive to picasa that way, but it will return "source=webdrive" which has limit as google drive. here are the example: https://lh3.googleusercontent.com/crJn-OITqneCbQ0XKaicu_2Sn0gsypgeLQPJmtSRQaICoGemM0DQfW62JJVsyAsNsPV-jTKb1mc28dWev_p67uLw77Fqm1obp7335vSCpcNnYR8iiewuNmU6vf7-EWBRTmu5l0kGusFwOon9fncZ4xzbMK-S8BTogdQ0V64vqFC-62ypwjAuWip7n_nPXpV8Qz77AM3K3NJrzSy80iV

[2019-05-08 19:45] Abdamingani commented on #7
Im not looking for third parties google drive embed generator because there's no guarantee how long still alive , i want to buy a script .

[2019-05-08 21:13] Zebraslive commented on #7
@zeydhan2 just give it a rest.....we all know you are affiliated with that site. stop trying to take advantage of the situation by pushing your sub-par API on novice developers. "Hello guys, i found website that can bypass google drive play limit." lol. some real BS.

By using a third party link/embed provider you are taking the risk of having your traffic hijacked or worse.

NEVER use third party

[2019-05-08 21:17] Abdamingani commented on #7
That is true..

[2019-05-09 02:09] hklcf commented on #7
file id = https://drive.google.com/file/d/1rVhKBTi-QoRv1G0PEsy3f_wax7rMSWPS/view

[2019-05-18 02:09] BoolenBread commented on #7
You can now stream videos from amazon drive with unlimited requests.
https://amazon-api.tk

[2019-05-26 16:58] ArdiArtani commented on #111
Problem Fixed https://github.com/ArdiArtani/Google-Drive-Player-Script/commit/c45287ce95755abb9ecaa5183208a0719fd224ae

[2019-05-26 16:58] #111 closed

[2019-06-19 13:59] haizrul commented on #82
Hi sir. Very good tool you have there. Thanks a lot for sharing. I'm using it now. 👍

[2019-07-11 10:30] infadroidmx commented on #109
i see it does work but how do they do it

[2019-07-20 23:17] bekju commented on #7
I can share the method to get redirector url from picasa (not lh3 but the redirector one, so without limits etc like this "https://r2---sn-4g5edns6.googlevideo.com/videoplayback?id=8442d77b192ad837&itag=22&source=picasa&begin=0&requiressl=yes&mm=30&mn=sn-4g5edns6&ms=nxu&mv=u&pl=25&sc=yes&ei=bSPTXNy9GozG1wKn8JHgCg&susc=ph&app=fife&mime=video/mp4&cnr=14&dur=299.839&lmt=1557329875090773&mt=1557340168

[2019-07-21 03:06] japnimedev commented on #7
You need rdp or vps to upload things efficiently (also to convert things manually without using your own pc).

[2019-07-21 17:34] bekju commented on #7
Yeah, I've got dedi but there's a problem - can't access my acc to upload through selenium because google block login attempt and can't manually login because it's linux. I'm now getting windows vps and will check if it's any good.
I heard the only way is to upload through selenium as through API counts against storage limit. Now I'm checking if it's mroe efficient to upload straight to photos or

[2019-07-21 17:41] milankragujevic commented on #7
You can install a GUI and use VNC on a Linux server, by the way. @brookko Additionally, Google will be disabling photos -> drive and vice versa importing very soon.

[2019-07-24 14:19] quocnguyen commented on #7
I have a website offer service that can help you guy get google drive link ( give me your driveid, my service will download and upload it to google photos using a lot of google photo account for, you know, bypass limit and make backup)

The site is: https://dt.clgt.vn

You guy also dont need to use my service, because here is a video that i make, explain how to upload to google photo and get link,

[2019-07-24 14:50] bekju commented on #7
Does your script download from GDrive and then upload to gphotos? Or does it import from google drive straight to gphotos? Because I have a script that imports from any gdrive shared file to gphotos.

I'm making some progress, I have a reuploader but it manually downloads & uploads straight to gphotos, I'm considering uploading it to google drive first and them import to multiple google photos acc

[2019-07-24 14:58] quocnguyen commented on #7
My script download and then upload to multi google photos accs, auto check for state of the result link, and reuploaded if any links die or bad luck, the whole acc die.

I also share this code for free https://github.com/quocnguyen/up (Simple tool to streaming upload remote url to google drive without download the file to local disk first.) which you may want to use or checkout to upload to google

[2019-08-05 16:52] passionetartufo commented on #103
Hello... did google change something? Because now my video doesn't load, and if I try to open the URL like (like: https://doc-0c-3g-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/2ae7k7ph207qqeh0savf46s2gspmv03c/1546264800000/03024062429258781666/*/1V75uLrUmf8Pg-ObmAC1d-QJMxn4v2fJy?e=download ) I get a 403 forbidden error. But if I use the plain URL then the video load f

[2019-09-05 02:27] RiseCoder commented on #7
Someone finally found a solution. I bought it does not seem to be a problem I am using.

https://www.driveapi.ml/

[2019-09-05 02:28] RiseCoder commented on #103
Someone finally found a solution. I bought it does not seem to be a problem I am using.

https://www.driveapi.ml/

[2019-09-05 03:51] Zebraslive commented on #7
"Someone finally found a solution" lol......garbage api and false promises.

[2019-09-05 06:06] FosterG4 opened #112 "add proxy to player"
can you add a proxy to the player, so that the limit problem from Google Drive can be overcome

[2019-09-05 06:19] Zebraslive commented on #112
@FosterG4 it's not going to solve the issue. the limit is based on overall account usage. even using gsuite account doesn't fix this problem.

it's only going to get worse. eventually they will start deleting videos based on audio and image matches the same way facebook and youtube do.

[2019-09-05 06:32] FosterG4 commented on #112
@Zebraslive If I have a Google Drive player api code that has been verified, will I limit the limit from 1000 to 2000 or above?

[2019-09-05 06:41] FosterG4 commented on #112
@Zebraslive if the limit cannot be overcome
maybe it's better if we can upload a file to our server then the player automatically embeds the url of the file that we uploaded?
yes it does require a large resource but rather than every limit have to replace the url from Google Drive maybe this is better.

[2019-10-22 16:23] ybanezmarjune opened #113 "Is this working?"
I follow all step and try demo but its not working.

[2019-10-30 17:25] llaurenss commented on #113
Nope, doesn't work anymore

[2019-10-30 19:48] Zebraslive commented on #113
It still works, just not for new videos. All of my old videos from over a year ago are still working without limitations.

[2019-12-12 09:45] FosterG4 commented on #7
okay :D how to add quality changer ?anyone can help me for add this?

my api play here http://play.indobatch.net/
and this sample video http://play.indobatch.net/iframe.php?dt=eyJ1cmwiOiJodHRwczpcL1wvZHJpdmUuZ29vZ2xlLmNvbVwvZmlsZVwvZFwvMWlvV3Etem03SEtBRkkwcnk1cWFobTFfeFhMTEw4dGplXC92aWV3IiwidGh1bWJuYWlsIjoiIiwic3VidGl0bGUiOiIiLCJzdWJ0aXRsZWVuIjoiIiwibG9nbyI6Imh0dHA6XC9cL3BsYXkuaW5kb2JhdGNoLm5ldFwv

[2020-01-13 22:54] nclsjld commented on #7
Does anybody have found an API to play GD link directly ?
Paid services prefered.

[2020-03-21 10:51] Parth-Gupta10 commented on #82
i get an error video

[2020-09-07 16:51] Zebraslive commented on #7
if anyone is doing anime. check this https://github.com/Zebraslive/Mass-Anime-Downloader

[2020-09-29 01:47] shifft3340 opened #114 "Google-Drive-Player-Script (query)"
does the script release the limit of google drive views?

[2020-09-29 03:24] Zebraslive commented on #114
@shifft3340 No.
Google drive proxy is no longer possible.

I will sell my amazon cloud drive streaming script if anyone is interested let me know here with @

[2020-09-30 05:46] shifft3340 commented on #114
You could create something that works with our google drive account, I explained a script that has my google account integrated inside but encrypted, it would be a way to play unlimited video, because it is not an internal visit but a simulation that I myself am looking at the video and not someone since I own my video they do not put limits on me

[2020-09-30 05:47] shifft3340 commented on #114
has a demo to try, my that helps me buy it.

[2020-09-30 17:59] samucamg opened #115 "No work any more, tested in linux and windows"
No work any more, tested in linux and windows